legacy/analytics/apility_1.10.3/wsdl_cache/41531d868f4db6275cadc55c98441962.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="https://adwords.google.com/api/adwords/v10" 
   xmlns:impl="https://adwords.google.com/api/adwords/v10" 
   xmlns:intf="https://adwords.google.com/api/adwords/v10" 
   xmlns:apachesoap="http://xml.apache.org/xml-soap" 
   xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
   xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
   xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
>
  <wsdl:types>
    <schema elementFormDefault="qualified" 
            targetNamespace="https://adwords.google.com/api/adwords/v10" 
            xmlns="http://www.w3.org/2001/XMLSchema">
      <complexType name="ApiError" >
        <sequence>
          <element name="code" type="xsd:int" />
          <element name="detail" type="xsd:string" />
          <element name="field" minOccurs="0" type="xsd:string" />
          <element name="index" type="xsd:int" />
          <element name="isExemptable" type="xsd:boolean" />
          <element name="textIndex" minOccurs="0" type="xsd:int" />
          <element name="textLength" minOccurs="0" type="xsd:int" />
          <element name="trigger" minOccurs="0" type="xsd:string" />
        </sequence>
      </complexType>

      <complexType name="ApiException" >
        <sequence>
          <element name="code" type="xsd:int" />
          <element name="errors" nillable="true" maxOccurs="unbounded" type="impl:ApiError" />
          <element name="internal" type="xsd:boolean" />
          <element name="message" nillable="true" type="xsd:string" />
          <element name="trigger" nillable="true" type="xsd:string" />
        </sequence>
      </complexType>

      <complexType name="Circle" >
        <sequence>
          <element name="latitudeMicroDegrees" type="xsd:int" />
          <element name="longitudeMicroDegrees" type="xsd:int" />
          <element name="radiusMeters" type="xsd:int" />
        </sequence>
      </complexType>

      <complexType name="CityTargets" >
        <sequence>
          <element name="cities" minOccurs="0" maxOccurs="unbounded" type="xsd:string" />
        </sequence>
      </complexType>

      <complexType name="CountryTargets" >
        <sequence>
          <element name="countries" minOccurs="0" maxOccurs="unbounded" type="xsd:string" />
        </sequence>
      </complexType>

      <complexType name="Criterion" abstract="true" >
        <sequence>
          <element name="adGroupId" type="xsd:int" />
          <element name="criterionType" nillable="true" minOccurs="0" type="impl:CriterionType" />
          <element name="destinationUrl" nillable="true" minOccurs="0" type="xsd:string" />
          <element name="exemptionRequest" nillable="true" minOccurs="0" type="xsd:string" />
          <element name="id" type="xsd:long" />
          <element name="language" nillable="true" type="xsd:string" />
          <element name="negative" nillable="true" type="xsd:boolean" />
          <element name="paused" nillable="true" minOccurs="0" type="xsd:boolean" />
          <element name="status" nillable="true" minOccurs="0" type="impl:CriterionStatus" />
        </sequence>
      </complexType>

      <simpleType name="CriterionStatus" >
        <restriction base="xsd:string">
          <enumeration value="Active"/>
          <enumeration value="InActive"/>
          <enumeration value="Disapproved"/>
          <enumeration value="Deleted"/>
        </restriction>
      </simpleType>

      <simpleType name="CriterionType" >
        <restriction base="xsd:string">
          <enumeration value="Website"/>
          <enumeration value="Keyword"/>
        </restriction>
      </simpleType>

      <complexType name="GeoTarget" >
        <sequence>
          <element name="cityTargets" minOccurs="0" type="impl:CityTargets" />
          <element name="countryTargets" minOccurs="0" type="impl:CountryTargets" />
          <element name="metroTargets" minOccurs="0" type="impl:MetroTargets" />
          <element name="proximityTargets" minOccurs="0" type="impl:ProximityTargets" />
          <element name="regionTargets" minOccurs="0" type="impl:RegionTargets" />
          <element name="targetAll" type="xsd:boolean" />
        </sequence>
      </complexType>

      <complexType name="Keyword" >
        <complexContent>
          <extension base="impl:Criterion">
            <sequence>
              <element name="maxCpc" nillable="true" minOccurs="0" type="xsd:long" />
              <element name="minCpc" nillable="true" minOccurs="0" type="xsd:long" />
              <element name="proxyMaxCpc" nillable="true" minOccurs="0" type="xsd:long" />
              <element name="text" nillable="true" type="xsd:string" />
              <element name="type" nillable="true" type="impl:KeywordType" />
            </sequence>
          </extension>
        </complexContent>
      </complexType>

      <simpleType name="KeywordType" >
        <restriction base="xsd:string">
          <enumeration value="Broad"/>
          <enumeration value="Phrase"/>
          <enumeration value="Exact"/>
        </restriction>
      </simpleType>

      <complexType name="LanguageTarget" >
        <sequence>
          <element name="languages" nillable="true" maxOccurs="unbounded" type="xsd:string" />
        </sequence>
      </complexType>

      <complexType name="MetroTargets" >
        <sequence>
          <element name="metros" minOccurs="0" maxOccurs="unbounded" type="xsd:string" />
        </sequence>
      </complexType>

      <complexType name="ProximityTargets" >
        <sequence>
          <element name="circles" maxOccurs="unbounded" type="impl:Circle" />
        </sequence>
      </complexType>

      <complexType name="RegionTargets" >
        <sequence>
          <element name="regions" minOccurs="0" maxOccurs="unbounded" type="xsd:string" />
        </sequence>
      </complexType>

      <complexType name="StatsRecord" >
        <sequence>
          <element name="averagePosition" type="xsd:double" />
          <element name="clicks" type="xsd:long" />
          <element name="conversionRate" type="xsd:double" />
          <element name="conversions" type="xsd:long" />
          <element name="cost" type="xsd:long" />
          <element name="id" type="xsd:long" />
          <element name="impressions" type="xsd:long" />
        </sequence>
      </complexType>

      <complexType name="Website" >
        <complexContent>
          <extension base="impl:Criterion">
            <sequence>
              <element name="maxCpm" nillable="true" minOccurs="0" type="xsd:long" />
              <element name="url" nillable="true" type="xsd:string" />
            </sequence>
          </extension>
        </complexContent>
      </complexType>

      <element name="addCriteria">
        <complexType>
          <sequence>
            <element name="criteria" maxOccurs="unbounded" type="impl:Criterion" />
          </sequence>
        </complexType>
      </element>

      <element name="addCriteriaResponse">
        <complexType>
          <sequence>
            <element name="addCriteriaReturn" maxOccurs="unbounded" type="impl:Criterion" />
          </sequence>
        </complexType>
      </element>

      <element name="applicationToken">
        <simpleType>
          <restriction base="xsd:string" />
        </simpleType>
      </element>

      <element name="checkCriteria">
        <complexType>
          <sequence>
            <element name="criteria" maxOccurs="unbounded" type="impl:Criterion" />
            <element name="languageTarget" type="impl:LanguageTarget" />
            <element name="geoTarget" type="impl:GeoTarget" />
          </sequence>
        </complexType>
      </element>

      <element name="checkCriteriaResponse">
        <complexType>
          <sequence>
            <element name="checkCriteriaReturn" maxOccurs="unbounded" type="impl:ApiError" />
          </sequence>
        </complexType>
      </element>

      <element name="clientCustomerId">
        <simpleType>
          <restriction base="xsd:string" />
        </simpleType>
      </element>

      <element name="clientEmail">
        <simpleType>
          <restriction base="xsd:string" />
        </simpleType>
      </element>

      <element name="developerToken">
        <simpleType>
          <restriction base="xsd:string" />
        </simpleType>
      </element>

      <element name="email">
        <simpleType>
          <restriction base="xsd:string" />
        </simpleType>
      </element>

      <element name="fault" type="impl:ApiException" />

      <element name="getAllCriteria">
        <complexType>
          <sequence>
            <element name="adGroupId" type="xsd:int" />
          </sequence>
        </complexType>
      </element>

      <element name="getAllCriteriaResponse">
        <complexType>
          <sequence>
            <element name="getAllCriteriaReturn" maxOccurs="unbounded" type="impl:Criterion" />
          </sequence>
        </complexType>
      </element>

      <element name="getCampaignNegativeCriteria">
        <complexType>
          <sequence>
            <element name="campaignId" type="xsd:int" />
          </sequence>
        </complexType>
      </element>

      <element name="getCampaignNegativeCriteriaResponse">
        <complexType>
          <sequence>
            <element name="getCampaignNegativeCriteriaReturn" maxOccurs="unbounded" type="impl:Criterion" />
          </sequence>
        </complexType>
      </element>

      <element name="getCriteria">
        <complexType>
          <sequence>
            <element name="adGroupId" type="xsd:int" />
            <element name="criterionIds" maxOccurs="unbounded" type="xsd:long" />
          </sequence>
        </complexType>
      </element>

      <element name="getCriteriaResponse">
        <complexType>
          <sequence>
            <element name="getCriteriaReturn" maxOccurs="unbounded" type="impl:Criterion" />
          </sequence>
        </complexType>
      </element>

      <element name="getCriterionStats">
        <complexType>
          <sequence>
            <element name="adGroupId" type="xsd:int" />
            <element name="criterionIds" maxOccurs="unbounded" type="xsd:long" />
            <element name="startDay" type="xsd:date" />
            <element name="endDay" type="xsd:date" />
          </sequence>
        </complexType>
      </element>

      <element name="getCriterionStatsResponse">
        <complexType>
          <sequence>
            <element name="getCriterionStatsReturn" maxOccurs="unbounded" type="impl:StatsRecord" />
          </sequence>
        </complexType>
      </element>

      <element name="operations">
        <simpleType>
          <restriction base="xsd:long" />
        </simpleType>
      </element>

      <element name="password">
        <simpleType>
          <restriction base="xsd:string" />
        </simpleType>
      </element>

      <element name="removeCriteria">
        <complexType>
          <sequence>
            <element name="adGroupId" type="xsd:int" />
            <element name="criterionIds" maxOccurs="unbounded" type="xsd:long" />
          </sequence>
        </complexType>
      </element>

      <element name="removeCriteriaResponse">
        <complexType/>
      </element>

      <element name="requestId">
        <simpleType>
          <restriction base="xsd:string" />
        </simpleType>
      </element>

      <element name="responseTime">
        <simpleType>
          <restriction base="xsd:long" />
        </simpleType>
      </element>

      <element name="setCampaignNegativeCriteria">
        <complexType>
          <sequence>
            <element name="campaignId" type="xsd:int" />
            <element name="criteria" maxOccurs="unbounded" type="impl:Criterion" />
          </sequence>
        </complexType>
      </element>

      <element name="setCampaignNegativeCriteriaResponse">
        <complexType/>
      </element>

      <element name="units">
        <simpleType>
          <restriction base="xsd:long" />
        </simpleType>
      </element>

      <element name="updateCriteria">
        <complexType>
          <sequence>
            <element name="criteria" maxOccurs="unbounded" type="impl:Criterion" />
          </sequence>
        </complexType>
      </element>

      <element name="updateCriteriaResponse">
        <complexType/>
      </element>

      <element name="useragent">
        <simpleType>
          <restriction base="xsd:string" />
        </simpleType>
      </element>

    </schema>
  </wsdl:types>

  <wsdl:message name="ApiException">
    <wsdl:part element="impl:fault" name="fault"/>
  </wsdl:message>

  <wsdl:message name="addCriteriaRequest">
    <wsdl:part element="impl:addCriteria" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="addCriteriaResponse">
    <wsdl:part element="impl:addCriteriaResponse" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="applicationToken">
    <wsdl:part element="impl:applicationToken" name="applicationToken"/>
  </wsdl:message>

  <wsdl:message name="checkCriteriaRequest">
    <wsdl:part element="impl:checkCriteria" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="checkCriteriaResponse">
    <wsdl:part element="impl:checkCriteriaResponse" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="clientCustomerId">
    <wsdl:part element="impl:clientCustomerId" name="clientCustomerId"/>
  </wsdl:message>

  <wsdl:message name="clientEmail">
    <wsdl:part element="impl:clientEmail" name="clientEmail"/>
  </wsdl:message>

  <wsdl:message name="developerToken">
    <wsdl:part element="impl:developerToken" name="developerToken"/>
  </wsdl:message>

  <wsdl:message name="email">
    <wsdl:part element="impl:email" name="email"/>
  </wsdl:message>

  <wsdl:message name="getAllCriteriaRequest">
    <wsdl:part element="impl:getAllCriteria" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="getAllCriteriaResponse">
    <wsdl:part element="impl:getAllCriteriaResponse" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="getCampaignNegativeCriteriaRequest">
    <wsdl:part element="impl:getCampaignNegativeCriteria" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="getCampaignNegativeCriteriaResponse">
    <wsdl:part element="impl:getCampaignNegativeCriteriaResponse" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="getCriteriaRequest">
    <wsdl:part element="impl:getCriteria" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="getCriteriaResponse">
    <wsdl:part element="impl:getCriteriaResponse" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="getCriterionStatsRequest">
    <wsdl:part element="impl:getCriterionStats" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="getCriterionStatsResponse">
    <wsdl:part element="impl:getCriterionStatsResponse" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="operations">
    <wsdl:part element="impl:operations" name="operations"/>
  </wsdl:message>

  <wsdl:message name="password">
    <wsdl:part element="impl:password" name="password"/>
  </wsdl:message>

  <wsdl:message name="removeCriteriaRequest">
    <wsdl:part element="impl:removeCriteria" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="removeCriteriaResponse">
    <wsdl:part element="impl:removeCriteriaResponse" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="requestId">
    <wsdl:part element="impl:requestId" name="requestId"/>
  </wsdl:message>

  <wsdl:message name="responseTime">
    <wsdl:part element="impl:responseTime" name="responseTime"/>
  </wsdl:message>

  <wsdl:message name="setCampaignNegativeCriteriaRequest">
    <wsdl:part element="impl:setCampaignNegativeCriteria" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="setCampaignNegativeCriteriaResponse">
    <wsdl:part element="impl:setCampaignNegativeCriteriaResponse" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="units">
    <wsdl:part element="impl:units" name="units"/>
  </wsdl:message>

  <wsdl:message name="updateCriteriaRequest">
    <wsdl:part element="impl:updateCriteria" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="updateCriteriaResponse">
    <wsdl:part element="impl:updateCriteriaResponse" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="useragent">
    <wsdl:part element="impl:useragent" name="useragent"/>
  </wsdl:message>

  <wsdl:portType name="CriterionInterface">
    <wsdl:operation name="addCriteria">
      <wsdl:input  message="impl:addCriteriaRequest" name="addCriteriaRequest" />
      <wsdl:output message="impl:addCriteriaResponse" name="addCriteriaResponse" />
      <wsdl:fault  message="impl:ApiException"  name="ApiException"/>
    </wsdl:operation>

    <wsdl:operation name="checkCriteria">
      <wsdl:input  message="impl:checkCriteriaRequest" name="checkCriteriaRequest" />
      <wsdl:output message="impl:checkCriteriaResponse" name="checkCriteriaResponse" />
      <wsdl:fault  message="impl:ApiException"  name="ApiException"/>
    </wsdl:operation>

    <wsdl:operation name="getAllCriteria">
      <wsdl:input  message="impl:getAllCriteriaRequest" name="getAllCriteriaRequest" />
      <wsdl:output message="impl:getAllCriteriaResponse" name="getAllCriteriaResponse" />
      <wsdl:fault  message="impl:ApiException"  name="ApiException"/>
    </wsdl:operation>

    <wsdl:operation name="getCampaignNegativeCriteria">
      <wsdl:input  message="impl:getCampaignNegativeCriteriaRequest" name="getCampaignNegativeCriteriaRequest" />
      <wsdl:output message="impl:getCampaignNegativeCriteriaResponse" name="getCampaignNegativeCriteriaResponse" />
      <wsdl:fault  message="impl:ApiException"  name="ApiException"/>
    </wsdl:operation>

    <wsdl:operation name="getCriteria">
      <wsdl:input  message="impl:getCriteriaRequest" name="getCriteriaRequest" />
      <wsdl:output message="impl:getCriteriaResponse" name="getCriteriaResponse" />
      <wsdl:fault  message="impl:ApiException"  name="ApiException"/>
    </wsdl:operation>

    <wsdl:operation name="getCriterionStats">
      <wsdl:input  message="impl:getCriterionStatsRequest" name="getCriterionStatsRequest" />
      <wsdl:output message="impl:getCriterionStatsResponse" name="getCriterionStatsResponse" />
      <wsdl:fault  message="impl:ApiException"  name="ApiException"/>
    </wsdl:operation>

    <wsdl:operation name="removeCriteria">
      <wsdl:input  message="impl:removeCriteriaRequest" name="removeCriteriaRequest" />
      <wsdl:output message="impl:removeCriteriaResponse" name="removeCriteriaResponse" />
      <wsdl:fault  message="impl:ApiException"  name="ApiException"/>
    </wsdl:operation>

    <wsdl:operation name="setCampaignNegativeCriteria">
      <wsdl:input  message="impl:setCampaignNegativeCriteriaRequest" name="setCampaignNegativeCriteriaRequest" />
      <wsdl:output message="impl:setCampaignNegativeCriteriaResponse" name="setCampaignNegativeCriteriaResponse" />
      <wsdl:fault  message="impl:ApiException"  name="ApiException"/>
    </wsdl:operation>

    <wsdl:operation name="updateCriteria">
      <wsdl:input  message="impl:updateCriteriaRequest" name="updateCriteriaRequest" />
      <wsdl:output message="impl:updateCriteriaResponse" name="updateCriteriaResponse" />
      <wsdl:fault  message="impl:ApiException"  name="ApiException"/>
    </wsdl:operation>

  </wsdl:portType>

  <wsdl:binding name="CriterionServiceSoapBinding" type="impl:CriterionInterface">
  <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

    <wsdl:operation name="addCriteria">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="addCriteriaRequest">
        <wsdlsoap:header message="impl:useragent" part="useragent" use="literal"/>
        <wsdlsoap:header message="impl:password" part="password" use="literal"/>
        <wsdlsoap:header message="impl:email" part="email" use="literal"/>
        <wsdlsoap:header message="impl:clientEmail" part="clientEmail" use="literal"/>
        <wsdlsoap:header message="impl:clientCustomerId" part="clientCustomerId" use="literal"/>
        <wsdlsoap:header message="impl:developerToken" part="developerToken" use="literal"/>
        <wsdlsoap:header message="impl:applicationToken" part="applicationToken" use="literal"/>
       <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addCriteriaResponse">
        <wsdlsoap:header message="impl:responseTime" part="responseTime" use="literal"/>
        <wsdlsoap:header message="impl:operations" part="operations" use="literal"/>
        <wsdlsoap:header message="impl:units" part="units" use="literal"/>
        <wsdlsoap:header message="impl:requestId" part="requestId" use="literal"/>
       <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApiException">
        <wsdlsoap:fault name="ApiException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="checkCriteria">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="checkCriteriaRequest">
        <wsdlsoap:header message="impl:useragent" part="useragent" use="literal"/>
        <wsdlsoap:header message="impl:password" part="password" use="literal"/>
        <wsdlsoap:header message="impl:email" part="email" use="literal"/>
        <wsdlsoap:header message="impl:clientEmail" part="clientEmail" use="literal"/>
        <wsdlsoap:header message="impl:clientCustomerId" part="clientCustomerId" use="literal"/>
        <wsdlsoap:header message="impl:developerToken" part="developerToken" use="literal"/>
        <wsdlsoap:header message="impl:applicationToken" part="applicationToken" use="literal"/>
       <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="checkCriteriaResponse">
        <wsdlsoap:header message="impl:responseTime" part="responseTime" use="literal"/>
        <wsdlsoap:header message="impl:operations" part="operations" use="literal"/>
        <wsdlsoap:header message="impl:units" part="units" use="literal"/>
        <wsdlsoap:header message="impl:requestId" part="requestId" use="literal"/>
       <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApiException">
        <wsdlsoap:fault name="ApiException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="getAllCriteria">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getAllCriteriaRequest">
        <wsdlsoap:header message="impl:useragent" part="useragent" use="literal"/>
        <wsdlsoap:header message="impl:password" part="password" use="literal"/>
        <wsdlsoap:header message="impl:email" part="email" use="literal"/>
        <wsdlsoap:header message="impl:clientEmail" part="clientEmail" use="literal"/>
        <wsdlsoap:header message="impl:clientCustomerId" part="clientCustomerId" use="literal"/>
        <wsdlsoap:header message="impl:developerToken" part="developerToken" use="literal"/>
        <wsdlsoap:header message="impl:applicationToken" part="applicationToken" use="literal"/>
       <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAllCriteriaResponse">
        <wsdlsoap:header message="impl:responseTime" part="responseTime" use="literal"/>
        <wsdlsoap:header message="impl:operations" part="operations" use="literal"/>
        <wsdlsoap:header message="impl:units" part="units" use="literal"/>
        <wsdlsoap:header message="impl:requestId" part="requestId" use="literal"/>
       <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApiException">
        <wsdlsoap:fault name="ApiException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="getCampaignNegativeCriteria">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getCampaignNegativeCriteriaRequest">
        <wsdlsoap:header message="impl:useragent" part="useragent" use="literal"/>
        <wsdlsoap:header message="impl:password" part="password" use="literal"/>
        <wsdlsoap:header message="impl:email" part="email" use="literal"/>
        <wsdlsoap:header message="impl:clientEmail" part="clientEmail" use="literal"/>
        <wsdlsoap:header message="impl:clientCustomerId" part="clientCustomerId" use="literal"/>
        <wsdlsoap:header message="impl:developerToken" part="developerToken" use="literal"/>
        <wsdlsoap:header message="impl:applicationToken" part="applicationToken" use="literal"/>
       <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getCampaignNegativeCriteriaResponse">
        <wsdlsoap:header message="impl:responseTime" part="responseTime" use="literal"/>
        <wsdlsoap:header message="impl:operations" part="operations" use="literal"/>
        <wsdlsoap:header message="impl:units" part="units" use="literal"/>
        <wsdlsoap:header message="impl:requestId" part="requestId" use="literal"/>
       <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApiException">
        <wsdlsoap:fault name="ApiException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="getCriteria">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getCriteriaRequest">
        <wsdlsoap:header message="impl:useragent" part="useragent" use="literal"/>
        <wsdlsoap:header message="impl:password" part="password" use="literal"/>
        <wsdlsoap:header message="impl:email" part="email" use="literal"/>
        <wsdlsoap:header message="impl:clientEmail" part="clientEmail" use="literal"/>
        <wsdlsoap:header message="impl:clientCustomerId" part="clientCustomerId" use="literal"/>
        <wsdlsoap:header message="impl:developerToken" part="developerToken" use="literal"/>
        <wsdlsoap:header message="impl:applicationToken" part="applicationToken" use="literal"/>
       <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getCriteriaResponse">
        <wsdlsoap:header message="impl:responseTime" part="responseTime" use="literal"/>
        <wsdlsoap:header message="impl:operations" part="operations" use="literal"/>
        <wsdlsoap:header message="impl:units" part="units" use="literal"/>
        <wsdlsoap:header message="impl:requestId" part="requestId" use="literal"/>
       <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApiException">
        <wsdlsoap:fault name="ApiException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="getCriterionStats">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getCriterionStatsRequest">
        <wsdlsoap:header message="impl:useragent" part="useragent" use="literal"/>
        <wsdlsoap:header message="impl:password" part="password" use="literal"/>
        <wsdlsoap:header message="impl:email" part="email" use="literal"/>
        <wsdlsoap:header message="impl:clientEmail" part="clientEmail" use="literal"/>
        <wsdlsoap:header message="impl:clientCustomerId" part="clientCustomerId" use="literal"/>
        <wsdlsoap:header message="impl:developerToken" part="developerToken" use="literal"/>
        <wsdlsoap:header message="impl:applicationToken" part="applicationToken" use="literal"/>
       <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getCriterionStatsResponse">
        <wsdlsoap:header message="impl:responseTime" part="responseTime" use="literal"/>
        <wsdlsoap:header message="impl:operations" part="operations" use="literal"/>
        <wsdlsoap:header message="impl:units" part="units" use="literal"/>
        <wsdlsoap:header message="impl:requestId" part="requestId" use="literal"/>
       <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApiException">
        <wsdlsoap:fault name="ApiException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="removeCriteria">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="removeCriteriaRequest">
        <wsdlsoap:header message="impl:useragent" part="useragent" use="literal"/>
        <wsdlsoap:header message="impl:password" part="password" use="literal"/>
        <wsdlsoap:header message="impl:email" part="email" use="literal"/>
        <wsdlsoap:header message="impl:clientEmail" part="clientEmail" use="literal"/>
        <wsdlsoap:header message="impl:clientCustomerId" part="clientCustomerId" use="literal"/>
        <wsdlsoap:header message="impl:developerToken" part="developerToken" use="literal"/>
        <wsdlsoap:header message="impl:applicationToken" part="applicationToken" use="literal"/>
       <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="removeCriteriaResponse">
        <wsdlsoap:header message="impl:responseTime" part="responseTime" use="literal"/>
        <wsdlsoap:header message="impl:operations" part="operations" use="literal"/>
        <wsdlsoap:header message="impl:units" part="units" use="literal"/>
        <wsdlsoap:header message="impl:requestId" part="requestId" use="literal"/>
       <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApiException">
        <wsdlsoap:fault name="ApiException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="setCampaignNegativeCriteria">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="setCampaignNegativeCriteriaRequest">
        <wsdlsoap:header message="impl:useragent" part="useragent" use="literal"/>
        <wsdlsoap:header message="impl:password" part="password" use="literal"/>
        <wsdlsoap:header message="impl:email" part="email" use="literal"/>
        <wsdlsoap:header message="impl:clientEmail" part="clientEmail" use="literal"/>
        <wsdlsoap:header message="impl:clientCustomerId" part="clientCustomerId" use="literal"/>
        <wsdlsoap:header message="impl:developerToken" part="developerToken" use="literal"/>
        <wsdlsoap:header message="impl:applicationToken" part="applicationToken" use="literal"/>
       <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="setCampaignNegativeCriteriaResponse">
        <wsdlsoap:header message="impl:responseTime" part="responseTime" use="literal"/>
        <wsdlsoap:header message="impl:operations" part="operations" use="literal"/>
        <wsdlsoap:header message="impl:units" part="units" use="literal"/>
        <wsdlsoap:header message="impl:requestId" part="requestId" use="literal"/>
       <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApiException">
        <wsdlsoap:fault name="ApiException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="updateCriteria">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="updateCriteriaRequest">
        <wsdlsoap:header message="impl:useragent" part="useragent" use="literal"/>
        <wsdlsoap:header message="impl:password" part="password" use="literal"/>
        <wsdlsoap:header message="impl:email" part="email" use="literal"/>
        <wsdlsoap:header message="impl:clientEmail" part="clientEmail" use="literal"/>
        <wsdlsoap:header message="impl:clientCustomerId" part="clientCustomerId" use="literal"/>
        <wsdlsoap:header message="impl:developerToken" part="developerToken" use="literal"/>
        <wsdlsoap:header message="impl:applicationToken" part="applicationToken" use="literal"/>
       <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateCriteriaResponse">
        <wsdlsoap:header message="impl:responseTime" part="responseTime" use="literal"/>
        <wsdlsoap:header message="impl:operations" part="operations" use="literal"/>
        <wsdlsoap:header message="impl:units" part="units" use="literal"/>
        <wsdlsoap:header message="impl:requestId" part="requestId" use="literal"/>
       <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApiException">
        <wsdlsoap:fault name="ApiException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>

  </wsdl:binding>

  <wsdl:service name="CriterionService">
    <wsdl:port binding="impl:CriterionServiceSoapBinding" name="CriterionService">
      <wsdlsoap:address location="https://adwords.google.com/api/adwords/v10/CriterionService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
