legacy/analytics/apility_1.10.3/wsdl_cache/6741e0024127828e2ad13be6f7b5ada1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="https://adwords.google.com/api/adwords/v10" 
   xmlns:impl="https://adwords.google.com/api/adwords/v10" 
   xmlns:intf="https://adwords.google.com/api/adwords/v10" 
   xmlns:apachesoap="http://xml.apache.org/xml-soap" 
   xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
   xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
   xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
>
  <wsdl:types>
    <schema elementFormDefault="qualified" 
            targetNamespace="https://adwords.google.com/api/adwords/v10" 
            xmlns="http://www.w3.org/2001/XMLSchema">
      <complexType name="AccountReportJob" >
        <complexContent>
          <extension base="impl:ReportJob">
            <sequence>
              <element name="adWordsType" minOccurs="0" type="impl:AdWordsType" />
            </sequence>
          </extension>
        </complexContent>
      </complexType>

      <complexType name="AdGroupReportJob" >
        <complexContent>
          <extension base="impl:ReportJob">
            <sequence>
              <element name="adGroupStatuses" minOccurs="0" maxOccurs="unbounded" type="impl:AdGroupStatus" />
              <element name="adWordsType" minOccurs="0" type="impl:AdWordsType" />
              <element name="campaigns" minOccurs="0" maxOccurs="unbounded" type="xsd:int" />
            </sequence>
          </extension>
        </complexContent>
      </complexType>

      <simpleType name="AdGroupStatus" >
        <restriction base="xsd:string">
          <enumeration value="Enabled"/>
          <enumeration value="Paused"/>
          <enumeration value="Deleted"/>
        </restriction>
      </simpleType>

      <complexType name="AdImageReportJob" >
        <complexContent>
          <extension base="impl:ReportJob">
            <sequence>
              <element name="campaigns" minOccurs="0" maxOccurs="unbounded" type="xsd:int" />
            </sequence>
          </extension>
        </complexContent>
      </complexType>

      <complexType name="AdTextReportJob" >
        <complexContent>
          <extension base="impl:ReportJob">
            <sequence>
              <element name="adWordsType" minOccurs="0" type="impl:AdWordsType" />
              <element name="campaigns" minOccurs="0" maxOccurs="unbounded" type="xsd:int" />
            </sequence>
          </extension>
        </complexContent>
      </complexType>

      <simpleType name="AdWordsType" >
        <restriction base="xsd:string">
          <enumeration value="SearchOnly"/>
          <enumeration value="ContentOnly"/>
        </restriction>
      </simpleType>

      <simpleType name="AggregationType" >
        <restriction base="xsd:string">
          <enumeration value="Summary"/>
          <enumeration value="Daily"/>
          <enumeration value="Monthly"/>
          <enumeration value="Quarterly"/>
          <enumeration value="Yearly"/>
          <enumeration value="HourlyRegardlessDate"/>
          <enumeration value="HourlyByDate"/>
          <enumeration value="Weekly"/>
        </restriction>
      </simpleType>

      <complexType name="ApiError" >
        <sequence>
          <element name="code" type="xsd:int" />
          <element name="detail" type="xsd:string" />
          <element name="field" minOccurs="0" type="xsd:string" />
          <element name="index" type="xsd:int" />
          <element name="isExemptable" type="xsd:boolean" />
          <element name="textIndex" minOccurs="0" type="xsd:int" />
          <element name="textLength" minOccurs="0" type="xsd:int" />
          <element name="trigger" minOccurs="0" type="xsd:string" />
        </sequence>
      </complexType>

      <complexType name="ApiException" >
        <sequence>
          <element name="code" type="xsd:int" />
          <element name="errors" nillable="true" maxOccurs="unbounded" type="impl:ApiError" />
          <element name="internal" type="xsd:boolean" />
          <element name="message" nillable="true" type="xsd:string" />
          <element name="trigger" nillable="true" type="xsd:string" />
        </sequence>
      </complexType>

      <complexType name="CampaignReportJob" >
        <complexContent>
          <extension base="impl:ReportJob">
            <sequence>
              <element name="adWordsType" minOccurs="0" type="impl:AdWordsType" />
              <element name="campaigns" minOccurs="0" maxOccurs="unbounded" type="xsd:int" />
            </sequence>
          </extension>
        </complexContent>
      </complexType>

      <simpleType name="CampaignStatus" >
        <restriction base="xsd:string">
          <enumeration value="Active"/>
          <enumeration value="Pending"/>
          <enumeration value="Ended"/>
          <enumeration value="Paused"/>
          <enumeration value="Deleted"/>
          <enumeration value="Suspended"/>
        </restriction>
      </simpleType>

      <complexType name="CustomReportJob" >
        <complexContent>
          <extension base="impl:ReportJob">
            <sequence>
              <element name="adGroupStatuses" minOccurs="0" maxOccurs="unbounded" type="impl:AdGroupStatus" />
              <element name="adGroups" minOccurs="0" maxOccurs="unbounded" type="xsd:int" />
              <element name="adWordsType" minOccurs="0" type="impl:AdWordsType" />
              <element name="campaignStatuses" minOccurs="0" maxOccurs="unbounded" type="impl:CampaignStatus" />
              <element name="campaigns" minOccurs="0" maxOccurs="unbounded" type="xsd:int" />
              <element name="customOptions" maxOccurs="unbounded" type="impl:CustomReportOption" />
              <element name="includeZeroImpression" minOccurs="0" type="xsd:boolean" />
              <element name="keywordStatuses" minOccurs="0" maxOccurs="unbounded" type="impl:KeywordStatus" />
              <element name="keywordType" minOccurs="0" type="impl:KeywordType" />
              <element name="keywords" minOccurs="0" maxOccurs="unbounded" type="xsd:string" />
            </sequence>
          </extension>
        </complexContent>
      </complexType>

      <simpleType name="CustomReportOption" >
        <restriction base="xsd:string">
          <enumeration value="Clicks"/>
          <enumeration value="Impressions"/>
          <enumeration value="Ctr"/>
          <enumeration value="Cpc"/>
          <enumeration value="Cost"/>
          <enumeration value="MinimumCpc"/>
          <enumeration value="MaximumCpc"/>
          <enumeration value="DailyBudget"/>
          <enumeration value="AveragePosition"/>
          <enumeration value="DescriptionLine1"/>
          <enumeration value="DescriptionLine2"/>
          <enumeration value="DescriptionLine3"/>
          <enumeration value="VisibleUrl"/>
          <enumeration value="CreativeDestinationUrl"/>
          <enumeration value="KeywordDestinationUrl"/>
          <enumeration value="DestinationUrl"/>
          <enumeration value="CreativeStatus"/>
          <enumeration value="AdGroupStatus"/>
          <enumeration value="Conversions"/>
          <enumeration value="ConversionRate"/>
          <enumeration value="CostPerConversion"/>
          <enumeration value="Transactions"/>
          <enumeration value="CostPerTransaction"/>
          <enumeration value="TotalConversionValue"/>
          <enumeration value="AverageConversionValue"/>
          <enumeration value="ConversionValuePerCost"/>
          <enumeration value="ConversionValuePerClick"/>
          <enumeration value="SaleCount"/>
          <enumeration value="SaleValue"/>
          <enumeration value="LeadCount"/>
          <enumeration value="LeadValue"/>
          <enumeration value="SignupCount"/>
          <enumeration value="SignupValue"/>
          <enumeration value="PageViewCount"/>
          <enumeration value="PageViewValue"/>
          <enumeration value="DefaultConversionCount"/>
          <enumeration value="DefaultConversionValue"/>
          <enumeration value="Campaign"/>
          <enumeration value="AdGroup"/>
          <enumeration value="Keyword"/>
          <enumeration value="KeywordType"/>
          <enumeration value="KeywordStatus"/>
          <enumeration value="AdWordsType"/>
          <enumeration value="AccountName"/>
          <enumeration value="CampaignStatus"/>
          <enumeration value="CampaignEndDate"/>
          <enumeration value="CampaignId"/>
          <enumeration value="AdGroupId"/>
          <enumeration value="KeywordId"/>
          <enumeration value="CreativeId"/>
          <enumeration value="ImageAdName"/>
          <enumeration value="ImageHostingKey"/>
          <enumeration value="CreativeType"/>
          <enumeration value="BottomPosition"/>
          <enumeration value="TopPosition"/>
          <enumeration value="CPM"/>
          <enumeration value="CustomerTimeZone"/>
          <enumeration value="MaxContentCPC"/>
          <enumeration value="MaximumCPM"/>
          <enumeration value="Website"/>
          <enumeration value="CurrencyCode"/>
          <enumeration value="CustomerId"/>
          <enumeration value="PhoneNumber"/>
          <enumeration value="BusinessName"/>
          <enumeration value="BusinessAddress"/>
        </restriction>
      </simpleType>

      <complexType name="KeywordReportJob" >
        <complexContent>
          <extension base="impl:ReportJob">
            <sequence>
              <element name="adWordsType" minOccurs="0" type="impl:AdWordsType" />
              <element name="campaigns" minOccurs="0" maxOccurs="unbounded" type="xsd:int" />
              <element name="includeZeroImpression" minOccurs="0" type="xsd:boolean" />
              <element name="keywordStatuses" minOccurs="0" maxOccurs="unbounded" type="impl:KeywordStatus" />
              <element name="keywordType" minOccurs="0" type="impl:KeywordType" />
            </sequence>
          </extension>
        </complexContent>
      </complexType>

      <simpleType name="KeywordStatus" >
        <restriction base="xsd:string">
          <enumeration value="Disapproved"/>
          <enumeration value="Deleted"/>
          <enumeration value="Paused"/>
          <enumeration value="Active"/>
          <enumeration value="InActive"/>
        </restriction>
      </simpleType>

      <simpleType name="KeywordType" >
        <restriction base="xsd:string">
          <enumeration value="Broad"/>
          <enumeration value="Phrase"/>
          <enumeration value="Exact"/>
        </restriction>
      </simpleType>

      <complexType name="ReportJob" abstract="true" >
        <sequence>
          <element name="aggregationType" minOccurs="0" type="impl:AggregationType" />
          <element name="clientEmails" minOccurs="0" maxOccurs="unbounded" type="xsd:string" />
          <element name="crossClient" minOccurs="0" type="xsd:boolean" />
          <element name="endDay" type="xsd:date" />
          <element name="id" minOccurs="0" type="xsd:long" />
          <element name="name" minOccurs="0" type="xsd:string" />
          <element name="startDay" type="xsd:date" />
          <element name="status" minOccurs="0" type="impl:ReportJobStatus" />
        </sequence>
      </complexType>

      <simpleType name="ReportJobStatus" >
        <restriction base="xsd:string">
          <enumeration value="Pending"/>
          <enumeration value="InProgress"/>
          <enumeration value="Completed"/>
          <enumeration value="Failed"/>
        </restriction>
      </simpleType>

      <complexType name="UrlReportJob" >
        <complexContent>
          <extension base="impl:ReportJob">
            <sequence>
              <element name="adWordsType" minOccurs="0" type="impl:AdWordsType" />
              <element name="campaigns" minOccurs="0" maxOccurs="unbounded" type="xsd:int" />
            </sequence>
          </extension>
        </complexContent>
      </complexType>

      <element name="applicationToken">
        <simpleType>
          <restriction base="xsd:string" />
        </simpleType>
      </element>

      <element name="clientCustomerId">
        <simpleType>
          <restriction base="xsd:string" />
        </simpleType>
      </element>

      <element name="clientEmail">
        <simpleType>
          <restriction base="xsd:string" />
        </simpleType>
      </element>

      <element name="deleteReport">
        <complexType>
          <sequence>
            <element name="reportJobId" type="xsd:long" />
          </sequence>
        </complexType>
      </element>

      <element name="deleteReportResponse">
        <complexType/>
      </element>

      <element name="developerToken">
        <simpleType>
          <restriction base="xsd:string" />
        </simpleType>
      </element>

      <element name="email">
        <simpleType>
          <restriction base="xsd:string" />
        </simpleType>
      </element>

      <element name="fault" type="impl:ApiException" />

      <element name="getAllJobs">
        <complexType/>
      </element>

      <element name="getAllJobsResponse">
        <complexType>
          <sequence>
            <element name="getAllJobsReturn" maxOccurs="unbounded" type="impl:ReportJob" />
          </sequence>
        </complexType>
      </element>

      <element name="getGzipReportDownloadUrl">
        <complexType>
          <sequence>
            <element name="reportJobId" type="xsd:long" />
          </sequence>
        </complexType>
      </element>

      <element name="getGzipReportDownloadUrlResponse">
        <complexType>
          <sequence>
            <element name="getGzipReportDownloadUrlReturn" type="xsd:string" />
          </sequence>
        </complexType>
      </element>

      <element name="getReportDownloadUrl">
        <complexType>
          <sequence>
            <element name="reportJobId" type="xsd:long" />
          </sequence>
        </complexType>
      </element>

      <element name="getReportDownloadUrlResponse">
        <complexType>
          <sequence>
            <element name="getReportDownloadUrlReturn" type="xsd:string" />
          </sequence>
        </complexType>
      </element>

      <element name="getReportJobStatus">
        <complexType>
          <sequence>
            <element name="reportJobId" type="xsd:long" />
          </sequence>
        </complexType>
      </element>

      <element name="getReportJobStatusResponse">
        <complexType>
          <sequence>
            <element name="getReportJobStatusReturn" type="impl:ReportJobStatus" />
          </sequence>
        </complexType>
      </element>

      <element name="operations">
        <simpleType>
          <restriction base="xsd:long" />
        </simpleType>
      </element>

      <element name="password">
        <simpleType>
          <restriction base="xsd:string" />
        </simpleType>
      </element>

      <element name="requestId">
        <simpleType>
          <restriction base="xsd:string" />
        </simpleType>
      </element>

      <element name="responseTime">
        <simpleType>
          <restriction base="xsd:long" />
        </simpleType>
      </element>

      <element name="scheduleReportJob">
        <complexType>
          <sequence>
            <element name="job" type="impl:ReportJob" />
          </sequence>
        </complexType>
      </element>

      <element name="scheduleReportJobResponse">
        <complexType>
          <sequence>
            <element name="scheduleReportJobReturn" type="xsd:long" />
          </sequence>
        </complexType>
      </element>

      <element name="units">
        <simpleType>
          <restriction base="xsd:long" />
        </simpleType>
      </element>

      <element name="useragent">
        <simpleType>
          <restriction base="xsd:string" />
        </simpleType>
      </element>

    </schema>
  </wsdl:types>

  <wsdl:message name="ApiException">
    <wsdl:part element="impl:fault" name="fault"/>
  </wsdl:message>

  <wsdl:message name="applicationToken">
    <wsdl:part element="impl:applicationToken" name="applicationToken"/>
  </wsdl:message>

  <wsdl:message name="clientCustomerId">
    <wsdl:part element="impl:clientCustomerId" name="clientCustomerId"/>
  </wsdl:message>

  <wsdl:message name="clientEmail">
    <wsdl:part element="impl:clientEmail" name="clientEmail"/>
  </wsdl:message>

  <wsdl:message name="deleteReportRequest">
    <wsdl:part element="impl:deleteReport" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="deleteReportResponse">
    <wsdl:part element="impl:deleteReportResponse" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="developerToken">
    <wsdl:part element="impl:developerToken" name="developerToken"/>
  </wsdl:message>

  <wsdl:message name="email">
    <wsdl:part element="impl:email" name="email"/>
  </wsdl:message>

  <wsdl:message name="getAllJobsRequest">
    <wsdl:part element="impl:getAllJobs" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="getAllJobsResponse">
    <wsdl:part element="impl:getAllJobsResponse" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="getGzipReportDownloadUrlRequest">
    <wsdl:part element="impl:getGzipReportDownloadUrl" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="getGzipReportDownloadUrlResponse">
    <wsdl:part element="impl:getGzipReportDownloadUrlResponse" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="getReportDownloadUrlRequest">
    <wsdl:part element="impl:getReportDownloadUrl" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="getReportDownloadUrlResponse">
    <wsdl:part element="impl:getReportDownloadUrlResponse" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="getReportJobStatusRequest">
    <wsdl:part element="impl:getReportJobStatus" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="getReportJobStatusResponse">
    <wsdl:part element="impl:getReportJobStatusResponse" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="operations">
    <wsdl:part element="impl:operations" name="operations"/>
  </wsdl:message>

  <wsdl:message name="password">
    <wsdl:part element="impl:password" name="password"/>
  </wsdl:message>

  <wsdl:message name="requestId">
    <wsdl:part element="impl:requestId" name="requestId"/>
  </wsdl:message>

  <wsdl:message name="responseTime">
    <wsdl:part element="impl:responseTime" name="responseTime"/>
  </wsdl:message>

  <wsdl:message name="scheduleReportJobRequest">
    <wsdl:part element="impl:scheduleReportJob" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="scheduleReportJobResponse">
    <wsdl:part element="impl:scheduleReportJobResponse" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="units">
    <wsdl:part element="impl:units" name="units"/>
  </wsdl:message>

  <wsdl:message name="useragent">
    <wsdl:part element="impl:useragent" name="useragent"/>
  </wsdl:message>

  <wsdl:portType name="ReportInterface">
    <wsdl:operation name="deleteReport">
      <wsdl:input  message="impl:deleteReportRequest" name="deleteReportRequest" />
      <wsdl:output message="impl:deleteReportResponse" name="deleteReportResponse" />
      <wsdl:fault  message="impl:ApiException"  name="ApiException"/>
    </wsdl:operation>

    <wsdl:operation name="getAllJobs">
      <wsdl:input  message="impl:getAllJobsRequest" name="getAllJobsRequest" />
      <wsdl:output message="impl:getAllJobsResponse" name="getAllJobsResponse" />
      <wsdl:fault  message="impl:ApiException"  name="ApiException"/>
    </wsdl:operation>

    <wsdl:operation name="getGzipReportDownloadUrl">
      <wsdl:input  message="impl:getGzipReportDownloadUrlRequest" name="getGzipReportDownloadUrlRequest" />
      <wsdl:output message="impl:getGzipReportDownloadUrlResponse" name="getGzipReportDownloadUrlResponse" />
      <wsdl:fault  message="impl:ApiException"  name="ApiException"/>
    </wsdl:operation>

    <wsdl:operation name="getReportDownloadUrl">
      <wsdl:input  message="impl:getReportDownloadUrlRequest" name="getReportDownloadUrlRequest" />
      <wsdl:output message="impl:getReportDownloadUrlResponse" name="getReportDownloadUrlResponse" />
      <wsdl:fault  message="impl:ApiException"  name="ApiException"/>
    </wsdl:operation>

    <wsdl:operation name="getReportJobStatus">
      <wsdl:input  message="impl:getReportJobStatusRequest" name="getReportJobStatusRequest" />
      <wsdl:output message="impl:getReportJobStatusResponse" name="getReportJobStatusResponse" />
      <wsdl:fault  message="impl:ApiException"  name="ApiException"/>
    </wsdl:operation>

    <wsdl:operation name="scheduleReportJob">
      <wsdl:input  message="impl:scheduleReportJobRequest" name="scheduleReportJobRequest" />
      <wsdl:output message="impl:scheduleReportJobResponse" name="scheduleReportJobResponse" />
      <wsdl:fault  message="impl:ApiException"  name="ApiException"/>
    </wsdl:operation>

  </wsdl:portType>

  <wsdl:binding name="ReportServiceSoapBinding" type="impl:ReportInterface">
  <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

    <wsdl:operation name="deleteReport">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="deleteReportRequest">
        <wsdlsoap:header message="impl:useragent" part="useragent" use="literal"/>
        <wsdlsoap:header message="impl:password" part="password" use="literal"/>
        <wsdlsoap:header message="impl:email" part="email" use="literal"/>
        <wsdlsoap:header message="impl:clientEmail" part="clientEmail" use="literal"/>
        <wsdlsoap:header message="impl:clientCustomerId" part="clientCustomerId" use="literal"/>
        <wsdlsoap:header message="impl:developerToken" part="developerToken" use="literal"/>
        <wsdlsoap:header message="impl:applicationToken" part="applicationToken" use="literal"/>
       <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteReportResponse">
        <wsdlsoap:header message="impl:responseTime" part="responseTime" use="literal"/>
        <wsdlsoap:header message="impl:operations" part="operations" use="literal"/>
        <wsdlsoap:header message="impl:units" part="units" use="literal"/>
        <wsdlsoap:header message="impl:requestId" part="requestId" use="literal"/>
       <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApiException">
        <wsdlsoap:fault name="ApiException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="getAllJobs">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getAllJobsRequest">
        <wsdlsoap:header message="impl:useragent" part="useragent" use="literal"/>
        <wsdlsoap:header message="impl:password" part="password" use="literal"/>
        <wsdlsoap:header message="impl:email" part="email" use="literal"/>
        <wsdlsoap:header message="impl:clientEmail" part="clientEmail" use="literal"/>
        <wsdlsoap:header message="impl:clientCustomerId" part="clientCustomerId" use="literal"/>
        <wsdlsoap:header message="impl:developerToken" part="developerToken" use="literal"/>
        <wsdlsoap:header message="impl:applicationToken" part="applicationToken" use="literal"/>
       <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAllJobsResponse">
        <wsdlsoap:header message="impl:responseTime" part="responseTime" use="literal"/>
        <wsdlsoap:header message="impl:operations" part="operations" use="literal"/>
        <wsdlsoap:header message="impl:units" part="units" use="literal"/>
        <wsdlsoap:header message="impl:requestId" part="requestId" use="literal"/>
       <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApiException">
        <wsdlsoap:fault name="ApiException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="getGzipReportDownloadUrl">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getGzipReportDownloadUrlRequest">
        <wsdlsoap:header message="impl:useragent" part="useragent" use="literal"/>
        <wsdlsoap:header message="impl:password" part="password" use="literal"/>
        <wsdlsoap:header message="impl:email" part="email" use="literal"/>
        <wsdlsoap:header message="impl:clientEmail" part="clientEmail" use="literal"/>
        <wsdlsoap:header message="impl:clientCustomerId" part="clientCustomerId" use="literal"/>
        <wsdlsoap:header message="impl:developerToken" part="developerToken" use="literal"/>
        <wsdlsoap:header message="impl:applicationToken" part="applicationToken" use="literal"/>
       <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getGzipReportDownloadUrlResponse">
        <wsdlsoap:header message="impl:responseTime" part="responseTime" use="literal"/>
        <wsdlsoap:header message="impl:operations" part="operations" use="literal"/>
        <wsdlsoap:header message="impl:units" part="units" use="literal"/>
        <wsdlsoap:header message="impl:requestId" part="requestId" use="literal"/>
       <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApiException">
        <wsdlsoap:fault name="ApiException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="getReportDownloadUrl">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getReportDownloadUrlRequest">
        <wsdlsoap:header message="impl:useragent" part="useragent" use="literal"/>
        <wsdlsoap:header message="impl:password" part="password" use="literal"/>
        <wsdlsoap:header message="impl:email" part="email" use="literal"/>
        <wsdlsoap:header message="impl:clientEmail" part="clientEmail" use="literal"/>
        <wsdlsoap:header message="impl:clientCustomerId" part="clientCustomerId" use="literal"/>
        <wsdlsoap:header message="impl:developerToken" part="developerToken" use="literal"/>
        <wsdlsoap:header message="impl:applicationToken" part="applicationToken" use="literal"/>
       <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getReportDownloadUrlResponse">
        <wsdlsoap:header message="impl:responseTime" part="responseTime" use="literal"/>
        <wsdlsoap:header message="impl:operations" part="operations" use="literal"/>
        <wsdlsoap:header message="impl:units" part="units" use="literal"/>
        <wsdlsoap:header message="impl:requestId" part="requestId" use="literal"/>
       <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApiException">
        <wsdlsoap:fault name="ApiException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="getReportJobStatus">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getReportJobStatusRequest">
        <wsdlsoap:header message="impl:useragent" part="useragent" use="literal"/>
        <wsdlsoap:header message="impl:password" part="password" use="literal"/>
        <wsdlsoap:header message="impl:email" part="email" use="literal"/>
        <wsdlsoap:header message="impl:clientEmail" part="clientEmail" use="literal"/>
        <wsdlsoap:header message="impl:clientCustomerId" part="clientCustomerId" use="literal"/>
        <wsdlsoap:header message="impl:developerToken" part="developerToken" use="literal"/>
        <wsdlsoap:header message="impl:applicationToken" part="applicationToken" use="literal"/>
       <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getReportJobStatusResponse">
        <wsdlsoap:header message="impl:responseTime" part="responseTime" use="literal"/>
        <wsdlsoap:header message="impl:operations" part="operations" use="literal"/>
        <wsdlsoap:header message="impl:units" part="units" use="literal"/>
        <wsdlsoap:header message="impl:requestId" part="requestId" use="literal"/>
       <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApiException">
        <wsdlsoap:fault name="ApiException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="scheduleReportJob">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="scheduleReportJobRequest">
        <wsdlsoap:header message="impl:useragent" part="useragent" use="literal"/>
        <wsdlsoap:header message="impl:password" part="password" use="literal"/>
        <wsdlsoap:header message="impl:email" part="email" use="literal"/>
        <wsdlsoap:header message="impl:clientEmail" part="clientEmail" use="literal"/>
        <wsdlsoap:header message="impl:clientCustomerId" part="clientCustomerId" use="literal"/>
        <wsdlsoap:header message="impl:developerToken" part="developerToken" use="literal"/>
        <wsdlsoap:header message="impl:applicationToken" part="applicationToken" use="literal"/>
       <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="scheduleReportJobResponse">
        <wsdlsoap:header message="impl:responseTime" part="responseTime" use="literal"/>
        <wsdlsoap:header message="impl:operations" part="operations" use="literal"/>
        <wsdlsoap:header message="impl:units" part="units" use="literal"/>
        <wsdlsoap:header message="impl:requestId" part="requestId" use="literal"/>
       <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApiException">
        <wsdlsoap:fault name="ApiException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>

  </wsdl:binding>

  <wsdl:service name="ReportService">
    <wsdl:port binding="impl:ReportServiceSoapBinding" name="ReportService">
      <wsdlsoap:address location="https://adwords.google.com/api/adwords/v10/ReportService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
