legacy/analytics/apility_1.10.3/wsdl_cache/a237cecc14be14ecc0e673d11860135a.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="https://adwords.google.com/api/adwords/v10" 
   xmlns:impl="https://adwords.google.com/api/adwords/v10" 
   xmlns:intf="https://adwords.google.com/api/adwords/v10" 
   xmlns:apachesoap="http://xml.apache.org/xml-soap" 
   xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
   xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
   xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
>
  <wsdl:types>
    <schema elementFormDefault="qualified" 
            targetNamespace="https://adwords.google.com/api/adwords/v10" 
            xmlns="http://www.w3.org/2001/XMLSchema">
      <complexType name="ApiError" >
        <sequence>
          <element name="code" type="xsd:int" />
          <element name="detail" type="xsd:string" />
          <element name="field" minOccurs="0" type="xsd:string" />
          <element name="index" type="xsd:int" />
          <element name="isExemptable" type="xsd:boolean" />
          <element name="textIndex" minOccurs="0" type="xsd:int" />
          <element name="textLength" minOccurs="0" type="xsd:int" />
          <element name="trigger" minOccurs="0" type="xsd:string" />
        </sequence>
      </complexType>

      <complexType name="ApiException" >
        <sequence>
          <element name="code" type="xsd:int" />
          <element name="errors" nillable="true" maxOccurs="unbounded" type="impl:ApiError" />
          <element name="internal" type="xsd:boolean" />
          <element name="message" nillable="true" type="xsd:string" />
          <element name="trigger" nillable="true" type="xsd:string" />
        </sequence>
      </complexType>

      <complexType name="ClientUsageRecord" >
        <sequence>
          <element name="clientEmail" type="xsd:string" />
          <element name="quotaUnits" type="xsd:long" />
        </sequence>
      </complexType>

      <element name="applicationToken">
        <simpleType>
          <restriction base="xsd:string" />
        </simpleType>
      </element>

      <element name="clientCustomerId">
        <simpleType>
          <restriction base="xsd:string" />
        </simpleType>
      </element>

      <element name="clientEmail">
        <simpleType>
          <restriction base="xsd:string" />
        </simpleType>
      </element>

      <element name="developerToken">
        <simpleType>
          <restriction base="xsd:string" />
        </simpleType>
      </element>

      <element name="email">
        <simpleType>
          <restriction base="xsd:string" />
        </simpleType>
      </element>

      <element name="fault" type="impl:ApiException" />

      <element name="getFreeUsageQuotaThisMonth">
        <complexType/>
      </element>

      <element name="getFreeUsageQuotaThisMonthResponse">
        <complexType>
          <sequence>
            <element name="getFreeUsageQuotaThisMonthReturn" type="xsd:long" />
          </sequence>
        </complexType>
      </element>

      <element name="getMethodCost">
        <complexType>
          <sequence>
            <element name="service" type="xsd:string" />
            <element name="method" type="xsd:string" />
            <element name="date" type="xsd:date" />
          </sequence>
        </complexType>
      </element>

      <element name="getMethodCostResponse">
        <complexType>
          <sequence>
            <element name="getMethodCostReturn" type="xsd:int" />
          </sequence>
        </complexType>
      </element>

      <element name="getOperationCount">
        <complexType>
          <sequence>
            <element name="startDate" type="xsd:date" />
            <element name="endDate" type="xsd:date" />
          </sequence>
        </complexType>
      </element>

      <element name="getOperationCountResponse">
        <complexType>
          <sequence>
            <element name="getOperationCountReturn" type="xsd:long" />
          </sequence>
        </complexType>
      </element>

      <element name="getOperationsQuotaThisMonth">
        <complexType/>
      </element>

      <element name="getOperationsQuotaThisMonthResponse">
        <complexType>
          <sequence>
            <element name="getOperationsQuotaThisMonthReturn" type="xsd:long" />
          </sequence>
        </complexType>
      </element>

      <element name="getUnitCount">
        <complexType>
          <sequence>
            <element name="startDate" type="xsd:date" />
            <element name="endDate" type="xsd:date" />
          </sequence>
        </complexType>
      </element>

      <element name="getUnitCountForClients">
        <complexType>
          <sequence>
            <element name="clientEmails" maxOccurs="unbounded" type="xsd:string" />
            <element name="startDate" type="xsd:date" />
            <element name="endDate" type="xsd:date" />
          </sequence>
        </complexType>
      </element>

      <element name="getUnitCountForClientsResponse">
        <complexType>
          <sequence>
            <element name="getUnitCountForClientsReturn" maxOccurs="unbounded" type="impl:ClientUsageRecord" />
          </sequence>
        </complexType>
      </element>

      <element name="getUnitCountForMethod">
        <complexType>
          <sequence>
            <element name="service" type="xsd:string" />
            <element name="method" type="xsd:string" />
            <element name="startDate" type="xsd:date" />
            <element name="endDate" type="xsd:date" />
          </sequence>
        </complexType>
      </element>

      <element name="getUnitCountForMethodResponse">
        <complexType>
          <sequence>
            <element name="getUnitCountForMethodReturn" type="xsd:long" />
          </sequence>
        </complexType>
      </element>

      <element name="getUnitCountResponse">
        <complexType>
          <sequence>
            <element name="getUnitCountReturn" type="xsd:long" />
          </sequence>
        </complexType>
      </element>

      <element name="getUsageQuotaThisMonth">
        <complexType/>
      </element>

      <element name="getUsageQuotaThisMonthResponse">
        <complexType>
          <sequence>
            <element name="getUsageQuotaThisMonthReturn" type="xsd:long" />
          </sequence>
        </complexType>
      </element>

      <element name="operations">
        <simpleType>
          <restriction base="xsd:long" />
        </simpleType>
      </element>

      <element name="password">
        <simpleType>
          <restriction base="xsd:string" />
        </simpleType>
      </element>

      <element name="requestId">
        <simpleType>
          <restriction base="xsd:string" />
        </simpleType>
      </element>

      <element name="responseTime">
        <simpleType>
          <restriction base="xsd:long" />
        </simpleType>
      </element>

      <element name="units">
        <simpleType>
          <restriction base="xsd:long" />
        </simpleType>
      </element>

      <element name="useragent">
        <simpleType>
          <restriction base="xsd:string" />
        </simpleType>
      </element>

    </schema>
  </wsdl:types>

  <wsdl:message name="ApiException">
    <wsdl:part element="impl:fault" name="fault"/>
  </wsdl:message>

  <wsdl:message name="applicationToken">
    <wsdl:part element="impl:applicationToken" name="applicationToken"/>
  </wsdl:message>

  <wsdl:message name="clientCustomerId">
    <wsdl:part element="impl:clientCustomerId" name="clientCustomerId"/>
  </wsdl:message>

  <wsdl:message name="clientEmail">
    <wsdl:part element="impl:clientEmail" name="clientEmail"/>
  </wsdl:message>

  <wsdl:message name="developerToken">
    <wsdl:part element="impl:developerToken" name="developerToken"/>
  </wsdl:message>

  <wsdl:message name="email">
    <wsdl:part element="impl:email" name="email"/>
  </wsdl:message>

  <wsdl:message name="getFreeUsageQuotaThisMonthRequest">
    <wsdl:part element="impl:getFreeUsageQuotaThisMonth" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="getFreeUsageQuotaThisMonthResponse">
    <wsdl:part element="impl:getFreeUsageQuotaThisMonthResponse" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="getMethodCostRequest">
    <wsdl:part element="impl:getMethodCost" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="getMethodCostResponse">
    <wsdl:part element="impl:getMethodCostResponse" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="getOperationCountRequest">
    <wsdl:part element="impl:getOperationCount" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="getOperationCountResponse">
    <wsdl:part element="impl:getOperationCountResponse" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="getOperationsQuotaThisMonthRequest">
    <wsdl:part element="impl:getOperationsQuotaThisMonth" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="getOperationsQuotaThisMonthResponse">
    <wsdl:part element="impl:getOperationsQuotaThisMonthResponse" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="getUnitCountForClientsRequest">
    <wsdl:part element="impl:getUnitCountForClients" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="getUnitCountForClientsResponse">
    <wsdl:part element="impl:getUnitCountForClientsResponse" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="getUnitCountForMethodRequest">
    <wsdl:part element="impl:getUnitCountForMethod" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="getUnitCountForMethodResponse">
    <wsdl:part element="impl:getUnitCountForMethodResponse" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="getUnitCountRequest">
    <wsdl:part element="impl:getUnitCount" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="getUnitCountResponse">
    <wsdl:part element="impl:getUnitCountResponse" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="getUsageQuotaThisMonthRequest">
    <wsdl:part element="impl:getUsageQuotaThisMonth" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="getUsageQuotaThisMonthResponse">
    <wsdl:part element="impl:getUsageQuotaThisMonthResponse" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="operations">
    <wsdl:part element="impl:operations" name="operations"/>
  </wsdl:message>

  <wsdl:message name="password">
    <wsdl:part element="impl:password" name="password"/>
  </wsdl:message>

  <wsdl:message name="requestId">
    <wsdl:part element="impl:requestId" name="requestId"/>
  </wsdl:message>

  <wsdl:message name="responseTime">
    <wsdl:part element="impl:responseTime" name="responseTime"/>
  </wsdl:message>

  <wsdl:message name="units">
    <wsdl:part element="impl:units" name="units"/>
  </wsdl:message>

  <wsdl:message name="useragent">
    <wsdl:part element="impl:useragent" name="useragent"/>
  </wsdl:message>

  <wsdl:portType name="InfoInterface">
    <wsdl:operation name="getFreeUsageQuotaThisMonth">
      <wsdl:input  message="impl:getFreeUsageQuotaThisMonthRequest" name="getFreeUsageQuotaThisMonthRequest" />
      <wsdl:output message="impl:getFreeUsageQuotaThisMonthResponse" name="getFreeUsageQuotaThisMonthResponse" />
      <wsdl:fault  message="impl:ApiException"  name="ApiException"/>
    </wsdl:operation>

    <wsdl:operation name="getMethodCost">
      <wsdl:input  message="impl:getMethodCostRequest" name="getMethodCostRequest" />
      <wsdl:output message="impl:getMethodCostResponse" name="getMethodCostResponse" />
      <wsdl:fault  message="impl:ApiException"  name="ApiException"/>
    </wsdl:operation>

    <wsdl:operation name="getOperationCount">
      <wsdl:input  message="impl:getOperationCountRequest" name="getOperationCountRequest" />
      <wsdl:output message="impl:getOperationCountResponse" name="getOperationCountResponse" />
      <wsdl:fault  message="impl:ApiException"  name="ApiException"/>
    </wsdl:operation>

    <wsdl:operation name="getOperationsQuotaThisMonth">
      <wsdl:input  message="impl:getOperationsQuotaThisMonthRequest" name="getOperationsQuotaThisMonthRequest" />
      <wsdl:output message="impl:getOperationsQuotaThisMonthResponse" name="getOperationsQuotaThisMonthResponse" />
      <wsdl:fault  message="impl:ApiException"  name="ApiException"/>
    </wsdl:operation>

    <wsdl:operation name="getUnitCount">
      <wsdl:input  message="impl:getUnitCountRequest" name="getUnitCountRequest" />
      <wsdl:output message="impl:getUnitCountResponse" name="getUnitCountResponse" />
      <wsdl:fault  message="impl:ApiException"  name="ApiException"/>
    </wsdl:operation>

    <wsdl:operation name="getUnitCountForClients">
      <wsdl:input  message="impl:getUnitCountForClientsRequest" name="getUnitCountForClientsRequest" />
      <wsdl:output message="impl:getUnitCountForClientsResponse" name="getUnitCountForClientsResponse" />
      <wsdl:fault  message="impl:ApiException"  name="ApiException"/>
    </wsdl:operation>

    <wsdl:operation name="getUnitCountForMethod">
      <wsdl:input  message="impl:getUnitCountForMethodRequest" name="getUnitCountForMethodRequest" />
      <wsdl:output message="impl:getUnitCountForMethodResponse" name="getUnitCountForMethodResponse" />
      <wsdl:fault  message="impl:ApiException"  name="ApiException"/>
    </wsdl:operation>

    <wsdl:operation name="getUsageQuotaThisMonth">
      <wsdl:input  message="impl:getUsageQuotaThisMonthRequest" name="getUsageQuotaThisMonthRequest" />
      <wsdl:output message="impl:getUsageQuotaThisMonthResponse" name="getUsageQuotaThisMonthResponse" />
      <wsdl:fault  message="impl:ApiException"  name="ApiException"/>
    </wsdl:operation>

  </wsdl:portType>

  <wsdl:binding name="InfoServiceSoapBinding" type="impl:InfoInterface">
  <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

    <wsdl:operation name="getFreeUsageQuotaThisMonth">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getFreeUsageQuotaThisMonthRequest">
        <wsdlsoap:header message="impl:useragent" part="useragent" use="literal"/>
        <wsdlsoap:header message="impl:password" part="password" use="literal"/>
        <wsdlsoap:header message="impl:email" part="email" use="literal"/>
        <wsdlsoap:header message="impl:clientEmail" part="clientEmail" use="literal"/>
        <wsdlsoap:header message="impl:clientCustomerId" part="clientCustomerId" use="literal"/>
        <wsdlsoap:header message="impl:developerToken" part="developerToken" use="literal"/>
        <wsdlsoap:header message="impl:applicationToken" part="applicationToken" use="literal"/>
       <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getFreeUsageQuotaThisMonthResponse">
        <wsdlsoap:header message="impl:responseTime" part="responseTime" use="literal"/>
        <wsdlsoap:header message="impl:operations" part="operations" use="literal"/>
        <wsdlsoap:header message="impl:units" part="units" use="literal"/>
        <wsdlsoap:header message="impl:requestId" part="requestId" use="literal"/>
       <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApiException">
        <wsdlsoap:fault name="ApiException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="getMethodCost">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getMethodCostRequest">
        <wsdlsoap:header message="impl:useragent" part="useragent" use="literal"/>
        <wsdlsoap:header message="impl:password" part="password" use="literal"/>
        <wsdlsoap:header message="impl:email" part="email" use="literal"/>
        <wsdlsoap:header message="impl:clientEmail" part="clientEmail" use="literal"/>
        <wsdlsoap:header message="impl:clientCustomerId" part="clientCustomerId" use="literal"/>
        <wsdlsoap:header message="impl:developerToken" part="developerToken" use="literal"/>
        <wsdlsoap:header message="impl:applicationToken" part="applicationToken" use="literal"/>
       <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getMethodCostResponse">
        <wsdlsoap:header message="impl:responseTime" part="responseTime" use="literal"/>
        <wsdlsoap:header message="impl:operations" part="operations" use="literal"/>
        <wsdlsoap:header message="impl:units" part="units" use="literal"/>
        <wsdlsoap:header message="impl:requestId" part="requestId" use="literal"/>
       <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApiException">
        <wsdlsoap:fault name="ApiException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="getOperationCount">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getOperationCountRequest">
        <wsdlsoap:header message="impl:useragent" part="useragent" use="literal"/>
        <wsdlsoap:header message="impl:password" part="password" use="literal"/>
        <wsdlsoap:header message="impl:email" part="email" use="literal"/>
        <wsdlsoap:header message="impl:clientEmail" part="clientEmail" use="literal"/>
        <wsdlsoap:header message="impl:clientCustomerId" part="clientCustomerId" use="literal"/>
        <wsdlsoap:header message="impl:developerToken" part="developerToken" use="literal"/>
        <wsdlsoap:header message="impl:applicationToken" part="applicationToken" use="literal"/>
       <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getOperationCountResponse">
        <wsdlsoap:header message="impl:responseTime" part="responseTime" use="literal"/>
        <wsdlsoap:header message="impl:operations" part="operations" use="literal"/>
        <wsdlsoap:header message="impl:units" part="units" use="literal"/>
        <wsdlsoap:header message="impl:requestId" part="requestId" use="literal"/>
       <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApiException">
        <wsdlsoap:fault name="ApiException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="getOperationsQuotaThisMonth">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getOperationsQuotaThisMonthRequest">
        <wsdlsoap:header message="impl:useragent" part="useragent" use="literal"/>
        <wsdlsoap:header message="impl:password" part="password" use="literal"/>
        <wsdlsoap:header message="impl:email" part="email" use="literal"/>
        <wsdlsoap:header message="impl:clientEmail" part="clientEmail" use="literal"/>
        <wsdlsoap:header message="impl:clientCustomerId" part="clientCustomerId" use="literal"/>
        <wsdlsoap:header message="impl:developerToken" part="developerToken" use="literal"/>
        <wsdlsoap:header message="impl:applicationToken" part="applicationToken" use="literal"/>
       <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getOperationsQuotaThisMonthResponse">
        <wsdlsoap:header message="impl:responseTime" part="responseTime" use="literal"/>
        <wsdlsoap:header message="impl:operations" part="operations" use="literal"/>
        <wsdlsoap:header message="impl:units" part="units" use="literal"/>
        <wsdlsoap:header message="impl:requestId" part="requestId" use="literal"/>
       <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApiException">
        <wsdlsoap:fault name="ApiException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="getUnitCount">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getUnitCountRequest">
        <wsdlsoap:header message="impl:useragent" part="useragent" use="literal"/>
        <wsdlsoap:header message="impl:password" part="password" use="literal"/>
        <wsdlsoap:header message="impl:email" part="email" use="literal"/>
        <wsdlsoap:header message="impl:clientEmail" part="clientEmail" use="literal"/>
        <wsdlsoap:header message="impl:clientCustomerId" part="clientCustomerId" use="literal"/>
        <wsdlsoap:header message="impl:developerToken" part="developerToken" use="literal"/>
        <wsdlsoap:header message="impl:applicationToken" part="applicationToken" use="literal"/>
       <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getUnitCountResponse">
        <wsdlsoap:header message="impl:responseTime" part="responseTime" use="literal"/>
        <wsdlsoap:header message="impl:operations" part="operations" use="literal"/>
        <wsdlsoap:header message="impl:units" part="units" use="literal"/>
        <wsdlsoap:header message="impl:requestId" part="requestId" use="literal"/>
       <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApiException">
        <wsdlsoap:fault name="ApiException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="getUnitCountForClients">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getUnitCountForClientsRequest">
        <wsdlsoap:header message="impl:useragent" part="useragent" use="literal"/>
        <wsdlsoap:header message="impl:password" part="password" use="literal"/>
        <wsdlsoap:header message="impl:email" part="email" use="literal"/>
        <wsdlsoap:header message="impl:clientEmail" part="clientEmail" use="literal"/>
        <wsdlsoap:header message="impl:clientCustomerId" part="clientCustomerId" use="literal"/>
        <wsdlsoap:header message="impl:developerToken" part="developerToken" use="literal"/>
        <wsdlsoap:header message="impl:applicationToken" part="applicationToken" use="literal"/>
       <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getUnitCountForClientsResponse">
        <wsdlsoap:header message="impl:responseTime" part="responseTime" use="literal"/>
        <wsdlsoap:header message="impl:operations" part="operations" use="literal"/>
        <wsdlsoap:header message="impl:units" part="units" use="literal"/>
        <wsdlsoap:header message="impl:requestId" part="requestId" use="literal"/>
       <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApiException">
        <wsdlsoap:fault name="ApiException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="getUnitCountForMethod">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getUnitCountForMethodRequest">
        <wsdlsoap:header message="impl:useragent" part="useragent" use="literal"/>
        <wsdlsoap:header message="impl:password" part="password" use="literal"/>
        <wsdlsoap:header message="impl:email" part="email" use="literal"/>
        <wsdlsoap:header message="impl:clientEmail" part="clientEmail" use="literal"/>
        <wsdlsoap:header message="impl:clientCustomerId" part="clientCustomerId" use="literal"/>
        <wsdlsoap:header message="impl:developerToken" part="developerToken" use="literal"/>
        <wsdlsoap:header message="impl:applicationToken" part="applicationToken" use="literal"/>
       <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getUnitCountForMethodResponse">
        <wsdlsoap:header message="impl:responseTime" part="responseTime" use="literal"/>
        <wsdlsoap:header message="impl:operations" part="operations" use="literal"/>
        <wsdlsoap:header message="impl:units" part="units" use="literal"/>
        <wsdlsoap:header message="impl:requestId" part="requestId" use="literal"/>
       <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApiException">
        <wsdlsoap:fault name="ApiException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="getUsageQuotaThisMonth">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getUsageQuotaThisMonthRequest">
        <wsdlsoap:header message="impl:useragent" part="useragent" use="literal"/>
        <wsdlsoap:header message="impl:password" part="password" use="literal"/>
        <wsdlsoap:header message="impl:email" part="email" use="literal"/>
        <wsdlsoap:header message="impl:clientEmail" part="clientEmail" use="literal"/>
        <wsdlsoap:header message="impl:clientCustomerId" part="clientCustomerId" use="literal"/>
        <wsdlsoap:header message="impl:developerToken" part="developerToken" use="literal"/>
        <wsdlsoap:header message="impl:applicationToken" part="applicationToken" use="literal"/>
       <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getUsageQuotaThisMonthResponse">
        <wsdlsoap:header message="impl:responseTime" part="responseTime" use="literal"/>
        <wsdlsoap:header message="impl:operations" part="operations" use="literal"/>
        <wsdlsoap:header message="impl:units" part="units" use="literal"/>
        <wsdlsoap:header message="impl:requestId" part="requestId" use="literal"/>
       <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApiException">
        <wsdlsoap:fault name="ApiException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>

  </wsdl:binding>

  <wsdl:service name="InfoService">
    <wsdl:port binding="impl:InfoServiceSoapBinding" name="InfoService">
      <wsdlsoap:address location="https://adwords.google.com/api/adwords/v10/InfoService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
