legacy/analytics/apility_1.10.3/wsdl_cache/ea108b71e7893bbdfb0c4afc1ff2a4d3.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="https://adwords.google.com/api/adwords/v10" 
   xmlns:impl="https://adwords.google.com/api/adwords/v10" 
   xmlns:intf="https://adwords.google.com/api/adwords/v10" 
   xmlns:apachesoap="http://xml.apache.org/xml-soap" 
   xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
   xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
   xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
>
  <wsdl:types>
    <schema elementFormDefault="qualified" 
            targetNamespace="https://adwords.google.com/api/adwords/v10" 
            xmlns="http://www.w3.org/2001/XMLSchema">
      <complexType name="Ad" abstract="true" >
        <sequence>
          <element name="adGroupId" type="xsd:int" />
          <element name="adType" nillable="true" minOccurs="0" type="impl:AdType" />
          <element name="destinationUrl" nillable="true" minOccurs="0" type="xsd:string" />
          <element name="disapproved" type="xsd:boolean" />
          <element name="displayUrl" nillable="true" minOccurs="0" type="xsd:string" />
          <element name="exemptionRequest" nillable="true" minOccurs="0" type="xsd:string" />
          <element name="id" type="xsd:long" />
          <element name="status" nillable="true" minOccurs="0" type="impl:AdStatus" />
        </sequence>
      </complexType>

      <simpleType name="AdStatus" >
        <restriction base="xsd:string">
          <enumeration value="Enabled"/>
          <enumeration value="Disabled"/>
          <enumeration value="Paused"/>
        </restriction>
      </simpleType>

      <simpleType name="AdType" >
        <restriction base="xsd:string">
          <enumeration value="TextAd"/>
          <enumeration value="ImageAd"/>
          <enumeration value="LocalBusinessAd"/>
          <enumeration value="MobileAd"/>
          <enumeration value="CommerceAd"/>
          <enumeration value="VideoAd"/>
        </restriction>
      </simpleType>

      <complexType name="ApiError" >
        <sequence>
          <element name="code" type="xsd:int" />
          <element name="detail" type="xsd:string" />
          <element name="field" minOccurs="0" type="xsd:string" />
          <element name="index" type="xsd:int" />
          <element name="isExemptable" type="xsd:boolean" />
          <element name="textIndex" minOccurs="0" type="xsd:int" />
          <element name="textLength" minOccurs="0" type="xsd:int" />
          <element name="trigger" minOccurs="0" type="xsd:string" />
        </sequence>
      </complexType>

      <complexType name="ApiException" >
        <sequence>
          <element name="code" type="xsd:int" />
          <element name="errors" nillable="true" maxOccurs="unbounded" type="impl:ApiError" />
          <element name="internal" type="xsd:boolean" />
          <element name="message" nillable="true" type="xsd:string" />
          <element name="trigger" nillable="true" type="xsd:string" />
        </sequence>
      </complexType>

      <complexType name="Business" >
        <sequence>
          <element name="address" type="xsd:string" />
          <element name="city" type="xsd:string" />
          <element name="countryCode" type="xsd:string" />
          <element name="key" type="xsd:string" />
          <element name="latitude" type="xsd:string" />
          <element name="longitude" type="xsd:string" />
          <element name="name" type="xsd:string" />
          <element name="phoneNumber" type="xsd:string" />
          <element name="postalCode" type="xsd:string" />
          <element name="region" type="xsd:string" />
          <element name="timestamp" type="xsd:long" />
        </sequence>
      </complexType>

      <complexType name="Circle" >
        <sequence>
          <element name="latitudeMicroDegrees" type="xsd:int" />
          <element name="longitudeMicroDegrees" type="xsd:int" />
          <element name="radiusMeters" type="xsd:int" />
        </sequence>
      </complexType>

      <complexType name="CityTargets" >
        <sequence>
          <element name="cities" minOccurs="0" maxOccurs="unbounded" type="xsd:string" />
        </sequence>
      </complexType>

      <complexType name="CommerceAd" >
        <complexContent>
          <extension base="impl:Ad">
            <sequence>
              <element name="description1" type="xsd:string" />
              <element name="description2" type="xsd:string" />
              <element name="headline" type="xsd:string" />
              <element name="postPriceAnnotation" minOccurs="0" type="xsd:string" />
              <element name="prePriceAnnotation" minOccurs="0" type="xsd:string" />
              <element name="priceString" type="xsd:string" />
              <element name="productImage" type="impl:Image" />
            </sequence>
          </extension>
        </complexContent>
      </complexType>

      <complexType name="CountryTargets" >
        <sequence>
          <element name="countries" minOccurs="0" maxOccurs="unbounded" type="xsd:string" />
        </sequence>
      </complexType>

      <complexType name="GeoTarget" >
        <sequence>
          <element name="cityTargets" minOccurs="0" type="impl:CityTargets" />
          <element name="countryTargets" minOccurs="0" type="impl:CountryTargets" />
          <element name="metroTargets" minOccurs="0" type="impl:MetroTargets" />
          <element name="proximityTargets" minOccurs="0" type="impl:ProximityTargets" />
          <element name="regionTargets" minOccurs="0" type="impl:RegionTargets" />
          <element name="targetAll" type="xsd:boolean" />
        </sequence>
      </complexType>

      <complexType name="Image" >
        <sequence>
          <element name="data" nillable="true" minOccurs="0" type="xsd:base64Binary" />
          <element name="height" nillable="true" minOccurs="0" type="xsd:int" />
          <element name="imageUrl" nillable="true" minOccurs="0" type="xsd:string" />
          <element name="mimeType" nillable="true" minOccurs="0" type="xsd:string" />
          <element name="name" nillable="true" minOccurs="0" type="xsd:string" />
          <element name="thumbnailUrl" nillable="true" minOccurs="0" type="xsd:string" />
          <element name="type" nillable="true" minOccurs="0" type="impl:ImageType" />
          <element name="width" nillable="true" minOccurs="0" type="xsd:int" />
        </sequence>
      </complexType>

      <complexType name="ImageAd" >
        <complexContent>
          <extension base="impl:Ad">
            <sequence>
              <element name="image" nillable="true" minOccurs="0" type="impl:Image" />
            </sequence>
          </extension>
        </complexContent>
      </complexType>

      <simpleType name="ImageType" >
        <restriction base="xsd:string">
          <enumeration value="image"/>
          <enumeration value="dynamicImage"/>
          <enumeration value="flash"/>
        </restriction>
      </simpleType>

      <complexType name="LanguageTarget" >
        <sequence>
          <element name="languages" nillable="true" maxOccurs="unbounded" type="xsd:string" />
        </sequence>
      </complexType>

      <complexType name="LocalBusinessAd" >
        <complexContent>
          <extension base="impl:Ad">
            <sequence>
              <element name="address" type="xsd:string" />
              <element name="businessImage" nillable="true" minOccurs="0" type="impl:Image" />
              <element name="businessKey" nillable="true" minOccurs="0" type="xsd:string" />
              <element name="businessName" type="xsd:string" />
              <element name="city" type="xsd:string" />
              <element name="countryCode" type="xsd:string" />
              <element name="customIcon" nillable="true" minOccurs="0" type="impl:Image" />
              <element name="customIconId" nillable="true" minOccurs="0" type="xsd:long" />
              <element name="description1" type="xsd:string" />
              <element name="description2" type="xsd:string" />
              <element name="phoneNumber" nillable="true" minOccurs="0" type="xsd:string" />
              <element name="postalCode" nillable="true" minOccurs="0" type="xsd:string" />
              <element name="region" nillable="true" minOccurs="0" type="xsd:string" />
              <element name="stockIcon" nillable="true" minOccurs="0" type="impl:StockIcon" />
              <element name="targetRadiusInKm" nillable="true" minOccurs="0" type="xsd:double" />
            </sequence>
          </extension>
        </complexContent>
      </complexType>

      <complexType name="MetroTargets" >
        <sequence>
          <element name="metros" minOccurs="0" maxOccurs="unbounded" type="xsd:string" />
        </sequence>
      </complexType>

      <complexType name="MobileAd" >
        <complexContent>
          <extension base="impl:Ad">
            <sequence>
              <element name="businessName" nillable="true" minOccurs="0" type="xsd:string" />
              <element name="countryCode" nillable="true" minOccurs="0" type="xsd:string" />
              <element name="description" type="xsd:string" />
              <element name="headline" type="xsd:string" />
              <element name="markupLanguages" nillable="true" minOccurs="0" maxOccurs="unbounded" type="xsd:string" />
              <element name="mobileCarriers" maxOccurs="unbounded" type="xsd:string" />
              <element name="phoneNumber" nillable="true" minOccurs="0" type="xsd:string" />
            </sequence>
          </extension>
        </complexContent>
      </complexType>

      <complexType name="ProximityTargets" >
        <sequence>
          <element name="circles" maxOccurs="unbounded" type="impl:Circle" />
        </sequence>
      </complexType>

      <complexType name="RegionTargets" >
        <sequence>
          <element name="regions" minOccurs="0" maxOccurs="unbounded" type="xsd:string" />
        </sequence>
      </complexType>

      <complexType name="StatsRecord" >
        <sequence>
          <element name="averagePosition" type="xsd:double" />
          <element name="clicks" type="xsd:long" />
          <element name="conversionRate" type="xsd:double" />
          <element name="conversions" type="xsd:long" />
          <element name="cost" type="xsd:long" />
          <element name="id" type="xsd:long" />
          <element name="impressions" type="xsd:long" />
        </sequence>
      </complexType>

      <simpleType name="StockIcon" >
        <restriction base="xsd:string">
          <enumeration value="Standard_1"/>
          <enumeration value="Standard_2"/>
          <enumeration value="Standard_3"/>
          <enumeration value="Standard_4"/>
          <enumeration value="Standard_5"/>
          <enumeration value="Standard_6"/>
          <enumeration value="Standard_7"/>
          <enumeration value="Standard_8"/>
          <enumeration value="Standard_9"/>
          <enumeration value="Standard_10"/>
          <enumeration value="Standard_11"/>
          <enumeration value="Standard_12"/>
          <enumeration value="Standard_13"/>
          <enumeration value="Standard_14"/>
          <enumeration value="Standard_15"/>
          <enumeration value="Standard_16"/>
          <enumeration value="Standard_17"/>
        </restriction>
      </simpleType>

      <complexType name="TextAd" >
        <complexContent>
          <extension base="impl:Ad">
            <sequence>
              <element name="description1" nillable="true" type="xsd:string" />
              <element name="description2" nillable="true" type="xsd:string" />
              <element name="headline" nillable="true" type="xsd:string" />
            </sequence>
          </extension>
        </complexContent>
      </complexType>

      <complexType name="Video" >
        <sequence>
          <element name="duration" minOccurs="0" type="xsd:long" />
          <element name="filename" minOccurs="0" type="xsd:string" />
          <element name="preview" minOccurs="0" type="xsd:string" />
          <element name="title" minOccurs="0" type="xsd:string" />
          <element name="videoId" type="xsd:long" />
        </sequence>
      </complexType>

      <complexType name="VideoAd" >
        <complexContent>
          <extension base="impl:Ad">
            <sequence>
              <element name="image" type="impl:Image" />
              <element name="name" type="xsd:string" />
              <element name="video" type="impl:Video" />
            </sequence>
          </extension>
        </complexContent>
      </complexType>

      <element name="addAds">
        <complexType>
          <sequence>
            <element name="ads" maxOccurs="unbounded" type="impl:Ad" />
          </sequence>
        </complexType>
      </element>

      <element name="addAdsResponse">
        <complexType>
          <sequence>
            <element name="addAdsReturn" maxOccurs="unbounded" type="impl:Ad" />
          </sequence>
        </complexType>
      </element>

      <element name="applicationToken">
        <simpleType>
          <restriction base="xsd:string" />
        </simpleType>
      </element>

      <element name="checkAds">
        <complexType>
          <sequence>
            <element name="ads" maxOccurs="unbounded" type="impl:Ad" />
            <element name="languageTarget" type="impl:LanguageTarget" />
            <element name="geoTarget" type="impl:GeoTarget" />
          </sequence>
        </complexType>
      </element>

      <element name="checkAdsResponse">
        <complexType>
          <sequence>
            <element name="checkAdsReturn" maxOccurs="unbounded" type="impl:ApiError" />
          </sequence>
        </complexType>
      </element>

      <element name="clientCustomerId">
        <simpleType>
          <restriction base="xsd:string" />
        </simpleType>
      </element>

      <element name="clientEmail">
        <simpleType>
          <restriction base="xsd:string" />
        </simpleType>
      </element>

      <element name="developerToken">
        <simpleType>
          <restriction base="xsd:string" />
        </simpleType>
      </element>

      <element name="email">
        <simpleType>
          <restriction base="xsd:string" />
        </simpleType>
      </element>

      <element name="fault" type="impl:ApiException" />

      <element name="findBusinesses">
        <complexType>
          <sequence>
            <element name="name" type="xsd:string" />
            <element name="address" type="xsd:string" />
            <element name="countryCode" type="xsd:string" />
          </sequence>
        </complexType>
      </element>

      <element name="findBusinessesResponse">
        <complexType>
          <sequence>
            <element name="findBusinessesReturn" maxOccurs="unbounded" type="impl:Business" />
          </sequence>
        </complexType>
      </element>

      <element name="getActiveAds">
        <complexType>
          <sequence>
            <element name="adGroupIds" maxOccurs="unbounded" type="xsd:int" />
          </sequence>
        </complexType>
      </element>

      <element name="getActiveAdsResponse">
        <complexType>
          <sequence>
            <element name="getActiveAdsReturn" maxOccurs="unbounded" type="impl:Ad" />
          </sequence>
        </complexType>
      </element>

      <element name="getAd">
        <complexType>
          <sequence>
            <element name="adGroupId" type="xsd:int" />
            <element name="adId" type="xsd:long" />
          </sequence>
        </complexType>
      </element>

      <element name="getAdResponse">
        <complexType>
          <sequence>
            <element name="getAdReturn" type="impl:Ad" />
          </sequence>
        </complexType>
      </element>

      <element name="getAdStats">
        <complexType>
          <sequence>
            <element name="adGroupId" type="xsd:int" />
            <element name="adIds" maxOccurs="unbounded" type="xsd:long" />
            <element name="startDay" type="xsd:date" />
            <element name="endDay" type="xsd:date" />
          </sequence>
        </complexType>
      </element>

      <element name="getAdStatsResponse">
        <complexType>
          <sequence>
            <element name="getAdStatsReturn" maxOccurs="unbounded" type="impl:StatsRecord" />
          </sequence>
        </complexType>
      </element>

      <element name="getAllAds">
        <complexType>
          <sequence>
            <element name="adGroupIds" maxOccurs="unbounded" type="xsd:int" />
          </sequence>
        </complexType>
      </element>

      <element name="getAllAdsResponse">
        <complexType>
          <sequence>
            <element name="getAllAdsReturn" maxOccurs="unbounded" type="impl:Ad" />
          </sequence>
        </complexType>
      </element>

      <element name="getMyBusinesses">
        <complexType/>
      </element>

      <element name="getMyBusinessesResponse">
        <complexType>
          <sequence>
            <element name="getMyBusinessesReturn" maxOccurs="unbounded" type="impl:Business" />
          </sequence>
        </complexType>
      </element>

      <element name="getMyVideos">
        <complexType/>
      </element>

      <element name="getMyVideosResponse">
        <complexType>
          <sequence>
            <element name="getMyVideosReturn" maxOccurs="unbounded" type="impl:Video" />
          </sequence>
        </complexType>
      </element>

      <element name="operations">
        <simpleType>
          <restriction base="xsd:long" />
        </simpleType>
      </element>

      <element name="password">
        <simpleType>
          <restriction base="xsd:string" />
        </simpleType>
      </element>

      <element name="requestId">
        <simpleType>
          <restriction base="xsd:string" />
        </simpleType>
      </element>

      <element name="responseTime">
        <simpleType>
          <restriction base="xsd:long" />
        </simpleType>
      </element>

      <element name="units">
        <simpleType>
          <restriction base="xsd:long" />
        </simpleType>
      </element>

      <element name="updateAds">
        <complexType>
          <sequence>
            <element name="ads" maxOccurs="unbounded" type="impl:Ad" />
          </sequence>
        </complexType>
      </element>

      <element name="updateAdsResponse">
        <complexType/>
      </element>

      <element name="useragent">
        <simpleType>
          <restriction base="xsd:string" />
        </simpleType>
      </element>

    </schema>
  </wsdl:types>

  <wsdl:message name="ApiException">
    <wsdl:part element="impl:fault" name="fault"/>
  </wsdl:message>

  <wsdl:message name="addAdsRequest">
    <wsdl:part element="impl:addAds" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="addAdsResponse">
    <wsdl:part element="impl:addAdsResponse" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="applicationToken">
    <wsdl:part element="impl:applicationToken" name="applicationToken"/>
  </wsdl:message>

  <wsdl:message name="checkAdsRequest">
    <wsdl:part element="impl:checkAds" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="checkAdsResponse">
    <wsdl:part element="impl:checkAdsResponse" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="clientCustomerId">
    <wsdl:part element="impl:clientCustomerId" name="clientCustomerId"/>
  </wsdl:message>

  <wsdl:message name="clientEmail">
    <wsdl:part element="impl:clientEmail" name="clientEmail"/>
  </wsdl:message>

  <wsdl:message name="developerToken">
    <wsdl:part element="impl:developerToken" name="developerToken"/>
  </wsdl:message>

  <wsdl:message name="email">
    <wsdl:part element="impl:email" name="email"/>
  </wsdl:message>

  <wsdl:message name="findBusinessesRequest">
    <wsdl:part element="impl:findBusinesses" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="findBusinessesResponse">
    <wsdl:part element="impl:findBusinessesResponse" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="getActiveAdsRequest">
    <wsdl:part element="impl:getActiveAds" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="getActiveAdsResponse">
    <wsdl:part element="impl:getActiveAdsResponse" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="getAdRequest">
    <wsdl:part element="impl:getAd" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="getAdResponse">
    <wsdl:part element="impl:getAdResponse" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="getAdStatsRequest">
    <wsdl:part element="impl:getAdStats" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="getAdStatsResponse">
    <wsdl:part element="impl:getAdStatsResponse" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="getAllAdsRequest">
    <wsdl:part element="impl:getAllAds" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="getAllAdsResponse">
    <wsdl:part element="impl:getAllAdsResponse" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="getMyBusinessesRequest">
    <wsdl:part element="impl:getMyBusinesses" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="getMyBusinessesResponse">
    <wsdl:part element="impl:getMyBusinessesResponse" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="getMyVideosRequest">
    <wsdl:part element="impl:getMyVideos" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="getMyVideosResponse">
    <wsdl:part element="impl:getMyVideosResponse" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="operations">
    <wsdl:part element="impl:operations" name="operations"/>
  </wsdl:message>

  <wsdl:message name="password">
    <wsdl:part element="impl:password" name="password"/>
  </wsdl:message>

  <wsdl:message name="requestId">
    <wsdl:part element="impl:requestId" name="requestId"/>
  </wsdl:message>

  <wsdl:message name="responseTime">
    <wsdl:part element="impl:responseTime" name="responseTime"/>
  </wsdl:message>

  <wsdl:message name="units">
    <wsdl:part element="impl:units" name="units"/>
  </wsdl:message>

  <wsdl:message name="updateAdsRequest">
    <wsdl:part element="impl:updateAds" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="updateAdsResponse">
    <wsdl:part element="impl:updateAdsResponse" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="useragent">
    <wsdl:part element="impl:useragent" name="useragent"/>
  </wsdl:message>

  <wsdl:portType name="AdInterface">
    <wsdl:operation name="addAds">
      <wsdl:input  message="impl:addAdsRequest" name="addAdsRequest" />
      <wsdl:output message="impl:addAdsResponse" name="addAdsResponse" />
      <wsdl:fault  message="impl:ApiException"  name="ApiException"/>
    </wsdl:operation>

    <wsdl:operation name="checkAds">
      <wsdl:input  message="impl:checkAdsRequest" name="checkAdsRequest" />
      <wsdl:output message="impl:checkAdsResponse" name="checkAdsResponse" />
      <wsdl:fault  message="impl:ApiException"  name="ApiException"/>
    </wsdl:operation>

    <wsdl:operation name="findBusinesses">
      <wsdl:input  message="impl:findBusinessesRequest" name="findBusinessesRequest" />
      <wsdl:output message="impl:findBusinessesResponse" name="findBusinessesResponse" />
      <wsdl:fault  message="impl:ApiException"  name="ApiException"/>
    </wsdl:operation>

    <wsdl:operation name="getActiveAds">
      <wsdl:input  message="impl:getActiveAdsRequest" name="getActiveAdsRequest" />
      <wsdl:output message="impl:getActiveAdsResponse" name="getActiveAdsResponse" />
      <wsdl:fault  message="impl:ApiException"  name="ApiException"/>
    </wsdl:operation>

    <wsdl:operation name="getAd">
      <wsdl:input  message="impl:getAdRequest" name="getAdRequest" />
      <wsdl:output message="impl:getAdResponse" name="getAdResponse" />
      <wsdl:fault  message="impl:ApiException"  name="ApiException"/>
    </wsdl:operation>

    <wsdl:operation name="getAdStats">
      <wsdl:input  message="impl:getAdStatsRequest" name="getAdStatsRequest" />
      <wsdl:output message="impl:getAdStatsResponse" name="getAdStatsResponse" />
      <wsdl:fault  message="impl:ApiException"  name="ApiException"/>
    </wsdl:operation>

    <wsdl:operation name="getAllAds">
      <wsdl:input  message="impl:getAllAdsRequest" name="getAllAdsRequest" />
      <wsdl:output message="impl:getAllAdsResponse" name="getAllAdsResponse" />
      <wsdl:fault  message="impl:ApiException"  name="ApiException"/>
    </wsdl:operation>

    <wsdl:operation name="getMyBusinesses">
      <wsdl:input  message="impl:getMyBusinessesRequest" name="getMyBusinessesRequest" />
      <wsdl:output message="impl:getMyBusinessesResponse" name="getMyBusinessesResponse" />
      <wsdl:fault  message="impl:ApiException"  name="ApiException"/>
    </wsdl:operation>

    <wsdl:operation name="getMyVideos">
      <wsdl:input  message="impl:getMyVideosRequest" name="getMyVideosRequest" />
      <wsdl:output message="impl:getMyVideosResponse" name="getMyVideosResponse" />
      <wsdl:fault  message="impl:ApiException"  name="ApiException"/>
    </wsdl:operation>

    <wsdl:operation name="updateAds">
      <wsdl:input  message="impl:updateAdsRequest" name="updateAdsRequest" />
      <wsdl:output message="impl:updateAdsResponse" name="updateAdsResponse" />
      <wsdl:fault  message="impl:ApiException"  name="ApiException"/>
    </wsdl:operation>

  </wsdl:portType>

  <wsdl:binding name="AdServiceSoapBinding" type="impl:AdInterface">
  <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

    <wsdl:operation name="addAds">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="addAdsRequest">
        <wsdlsoap:header message="impl:useragent" part="useragent" use="literal"/>
        <wsdlsoap:header message="impl:password" part="password" use="literal"/>
        <wsdlsoap:header message="impl:email" part="email" use="literal"/>
        <wsdlsoap:header message="impl:clientEmail" part="clientEmail" use="literal"/>
        <wsdlsoap:header message="impl:clientCustomerId" part="clientCustomerId" use="literal"/>
        <wsdlsoap:header message="impl:developerToken" part="developerToken" use="literal"/>
        <wsdlsoap:header message="impl:applicationToken" part="applicationToken" use="literal"/>
       <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addAdsResponse">
        <wsdlsoap:header message="impl:responseTime" part="responseTime" use="literal"/>
        <wsdlsoap:header message="impl:operations" part="operations" use="literal"/>
        <wsdlsoap:header message="impl:units" part="units" use="literal"/>
        <wsdlsoap:header message="impl:requestId" part="requestId" use="literal"/>
       <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApiException">
        <wsdlsoap:fault name="ApiException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="checkAds">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="checkAdsRequest">
        <wsdlsoap:header message="impl:useragent" part="useragent" use="literal"/>
        <wsdlsoap:header message="impl:password" part="password" use="literal"/>
        <wsdlsoap:header message="impl:email" part="email" use="literal"/>
        <wsdlsoap:header message="impl:clientEmail" part="clientEmail" use="literal"/>
        <wsdlsoap:header message="impl:clientCustomerId" part="clientCustomerId" use="literal"/>
        <wsdlsoap:header message="impl:developerToken" part="developerToken" use="literal"/>
        <wsdlsoap:header message="impl:applicationToken" part="applicationToken" use="literal"/>
       <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="checkAdsResponse">
        <wsdlsoap:header message="impl:responseTime" part="responseTime" use="literal"/>
        <wsdlsoap:header message="impl:operations" part="operations" use="literal"/>
        <wsdlsoap:header message="impl:units" part="units" use="literal"/>
        <wsdlsoap:header message="impl:requestId" part="requestId" use="literal"/>
       <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApiException">
        <wsdlsoap:fault name="ApiException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="findBusinesses">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="findBusinessesRequest">
        <wsdlsoap:header message="impl:useragent" part="useragent" use="literal"/>
        <wsdlsoap:header message="impl:password" part="password" use="literal"/>
        <wsdlsoap:header message="impl:email" part="email" use="literal"/>
        <wsdlsoap:header message="impl:clientEmail" part="clientEmail" use="literal"/>
        <wsdlsoap:header message="impl:clientCustomerId" part="clientCustomerId" use="literal"/>
        <wsdlsoap:header message="impl:developerToken" part="developerToken" use="literal"/>
        <wsdlsoap:header message="impl:applicationToken" part="applicationToken" use="literal"/>
       <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="findBusinessesResponse">
        <wsdlsoap:header message="impl:responseTime" part="responseTime" use="literal"/>
        <wsdlsoap:header message="impl:operations" part="operations" use="literal"/>
        <wsdlsoap:header message="impl:units" part="units" use="literal"/>
        <wsdlsoap:header message="impl:requestId" part="requestId" use="literal"/>
       <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApiException">
        <wsdlsoap:fault name="ApiException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="getActiveAds">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getActiveAdsRequest">
        <wsdlsoap:header message="impl:useragent" part="useragent" use="literal"/>
        <wsdlsoap:header message="impl:password" part="password" use="literal"/>
        <wsdlsoap:header message="impl:email" part="email" use="literal"/>
        <wsdlsoap:header message="impl:clientEmail" part="clientEmail" use="literal"/>
        <wsdlsoap:header message="impl:clientCustomerId" part="clientCustomerId" use="literal"/>
        <wsdlsoap:header message="impl:developerToken" part="developerToken" use="literal"/>
        <wsdlsoap:header message="impl:applicationToken" part="applicationToken" use="literal"/>
       <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getActiveAdsResponse">
        <wsdlsoap:header message="impl:responseTime" part="responseTime" use="literal"/>
        <wsdlsoap:header message="impl:operations" part="operations" use="literal"/>
        <wsdlsoap:header message="impl:units" part="units" use="literal"/>
        <wsdlsoap:header message="impl:requestId" part="requestId" use="literal"/>
       <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApiException">
        <wsdlsoap:fault name="ApiException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="getAd">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getAdRequest">
        <wsdlsoap:header message="impl:useragent" part="useragent" use="literal"/>
        <wsdlsoap:header message="impl:password" part="password" use="literal"/>
        <wsdlsoap:header message="impl:email" part="email" use="literal"/>
        <wsdlsoap:header message="impl:clientEmail" part="clientEmail" use="literal"/>
        <wsdlsoap:header message="impl:clientCustomerId" part="clientCustomerId" use="literal"/>
        <wsdlsoap:header message="impl:developerToken" part="developerToken" use="literal"/>
        <wsdlsoap:header message="impl:applicationToken" part="applicationToken" use="literal"/>
       <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAdResponse">
        <wsdlsoap:header message="impl:responseTime" part="responseTime" use="literal"/>
        <wsdlsoap:header message="impl:operations" part="operations" use="literal"/>
        <wsdlsoap:header message="impl:units" part="units" use="literal"/>
        <wsdlsoap:header message="impl:requestId" part="requestId" use="literal"/>
       <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApiException">
        <wsdlsoap:fault name="ApiException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="getAdStats">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getAdStatsRequest">
        <wsdlsoap:header message="impl:useragent" part="useragent" use="literal"/>
        <wsdlsoap:header message="impl:password" part="password" use="literal"/>
        <wsdlsoap:header message="impl:email" part="email" use="literal"/>
        <wsdlsoap:header message="impl:clientEmail" part="clientEmail" use="literal"/>
        <wsdlsoap:header message="impl:clientCustomerId" part="clientCustomerId" use="literal"/>
        <wsdlsoap:header message="impl:developerToken" part="developerToken" use="literal"/>
        <wsdlsoap:header message="impl:applicationToken" part="applicationToken" use="literal"/>
       <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAdStatsResponse">
        <wsdlsoap:header message="impl:responseTime" part="responseTime" use="literal"/>
        <wsdlsoap:header message="impl:operations" part="operations" use="literal"/>
        <wsdlsoap:header message="impl:units" part="units" use="literal"/>
        <wsdlsoap:header message="impl:requestId" part="requestId" use="literal"/>
       <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApiException">
        <wsdlsoap:fault name="ApiException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="getAllAds">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getAllAdsRequest">
        <wsdlsoap:header message="impl:useragent" part="useragent" use="literal"/>
        <wsdlsoap:header message="impl:password" part="password" use="literal"/>
        <wsdlsoap:header message="impl:email" part="email" use="literal"/>
        <wsdlsoap:header message="impl:clientEmail" part="clientEmail" use="literal"/>
        <wsdlsoap:header message="impl:clientCustomerId" part="clientCustomerId" use="literal"/>
        <wsdlsoap:header message="impl:developerToken" part="developerToken" use="literal"/>
        <wsdlsoap:header message="impl:applicationToken" part="applicationToken" use="literal"/>
       <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAllAdsResponse">
        <wsdlsoap:header message="impl:responseTime" part="responseTime" use="literal"/>
        <wsdlsoap:header message="impl:operations" part="operations" use="literal"/>
        <wsdlsoap:header message="impl:units" part="units" use="literal"/>
        <wsdlsoap:header message="impl:requestId" part="requestId" use="literal"/>
       <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApiException">
        <wsdlsoap:fault name="ApiException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="getMyBusinesses">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getMyBusinessesRequest">
        <wsdlsoap:header message="impl:useragent" part="useragent" use="literal"/>
        <wsdlsoap:header message="impl:password" part="password" use="literal"/>
        <wsdlsoap:header message="impl:email" part="email" use="literal"/>
        <wsdlsoap:header message="impl:clientEmail" part="clientEmail" use="literal"/>
        <wsdlsoap:header message="impl:clientCustomerId" part="clientCustomerId" use="literal"/>
        <wsdlsoap:header message="impl:developerToken" part="developerToken" use="literal"/>
        <wsdlsoap:header message="impl:applicationToken" part="applicationToken" use="literal"/>
       <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getMyBusinessesResponse">
        <wsdlsoap:header message="impl:responseTime" part="responseTime" use="literal"/>
        <wsdlsoap:header message="impl:operations" part="operations" use="literal"/>
        <wsdlsoap:header message="impl:units" part="units" use="literal"/>
        <wsdlsoap:header message="impl:requestId" part="requestId" use="literal"/>
       <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApiException">
        <wsdlsoap:fault name="ApiException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="getMyVideos">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getMyVideosRequest">
        <wsdlsoap:header message="impl:useragent" part="useragent" use="literal"/>
        <wsdlsoap:header message="impl:password" part="password" use="literal"/>
        <wsdlsoap:header message="impl:email" part="email" use="literal"/>
        <wsdlsoap:header message="impl:clientEmail" part="clientEmail" use="literal"/>
        <wsdlsoap:header message="impl:clientCustomerId" part="clientCustomerId" use="literal"/>
        <wsdlsoap:header message="impl:developerToken" part="developerToken" use="literal"/>
        <wsdlsoap:header message="impl:applicationToken" part="applicationToken" use="literal"/>
       <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getMyVideosResponse">
        <wsdlsoap:header message="impl:responseTime" part="responseTime" use="literal"/>
        <wsdlsoap:header message="impl:operations" part="operations" use="literal"/>
        <wsdlsoap:header message="impl:units" part="units" use="literal"/>
        <wsdlsoap:header message="impl:requestId" part="requestId" use="literal"/>
       <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApiException">
        <wsdlsoap:fault name="ApiException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="updateAds">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="updateAdsRequest">
        <wsdlsoap:header message="impl:useragent" part="useragent" use="literal"/>
        <wsdlsoap:header message="impl:password" part="password" use="literal"/>
        <wsdlsoap:header message="impl:email" part="email" use="literal"/>
        <wsdlsoap:header message="impl:clientEmail" part="clientEmail" use="literal"/>
        <wsdlsoap:header message="impl:clientCustomerId" part="clientCustomerId" use="literal"/>
        <wsdlsoap:header message="impl:developerToken" part="developerToken" use="literal"/>
        <wsdlsoap:header message="impl:applicationToken" part="applicationToken" use="literal"/>
       <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateAdsResponse">
        <wsdlsoap:header message="impl:responseTime" part="responseTime" use="literal"/>
        <wsdlsoap:header message="impl:operations" part="operations" use="literal"/>
        <wsdlsoap:header message="impl:units" part="units" use="literal"/>
        <wsdlsoap:header message="impl:requestId" part="requestId" use="literal"/>
       <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApiException">
        <wsdlsoap:fault name="ApiException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>

  </wsdl:binding>

  <wsdl:service name="AdService">
    <wsdl:port binding="impl:AdServiceSoapBinding" name="AdService">
      <wsdlsoap:address location="https://adwords.google.com/api/adwords/v10/AdService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
